.dropdown {

  &__label {
    margin-bottom: rem(3);
  }

  &__hints {
    margin-top: rem(3);
  }

  &.is-disabled {

    .dropdown__select {
      background: $gray-000;
      border: 0;
    }

    .dropdown__select:after {
      background-color: $gray-200;
    }
  }

  &__select {
    background-color: $white;
    border: rem(1) solid $gray-200;
    border-radius: rem($base-border-radius);
    position: relative;

    &::after {
      background: $blue-200 no-repeat center/50% url('data:image/svg+xml;base64,PHN2ZyBpZD0iU29saWQiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9IndoaXRlIiBkPSJtNDAwIDIxNmEyMy45MjggMjMuOTI4IDAgMCAxIC0xNi45NzEtNy4wMjlsLTEyNy4wMjktMTI3LjAzLTEyNy4wMjkgMTI3LjAzYTI0IDI0IDAgMCAxIC0zMy45NDItMzMuOTQybDE0NC0xNDRhMjQgMjQgMCAwIDEgMzMuOTQyIDBsMTQ0IDE0NGEyNCAyNCAwIDAgMSAtMTYuOTcxIDQwLjk3MXptLTEyNy4wMjkgMjY0Ljk3MSAxNDQtMTQ0YTI0IDI0IDAgMCAwIC0zMy45NDItMzMuOTQybC0xMjcuMDI5IDEyNy4wMy0xMjcuMDI5LTEyNy4wM2EyNCAyNCAwIDAgMCAtMzMuOTQyIDMzLjk0MmwxNDQgMTQ0YTI0IDI0IDAgMCAwIDMzLjk0MiAweiIvPjwvc3ZnPg==');
      border-radius: rem(0 $base-border-radius $base-border-radius 0);
      content: '';
      display: block;
      height: rem($input-height);
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: rem($input-height);
    } 
  }

  &__select__menu {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    flex: 1;
    font-family: inherit;
    font-size: inherit;
    height: rem($input-height);
    outline: 0;
    padding: rem(0 $input-height 0 8);
    width: 100%;

    &:focus {
      box-shadow: $formfield-focus;
    }

    &:disabled {
      color: $gray-300;
    }
  }

  &.has-error &__select {
    border-color: $red-100;
  }

  &.has-error &__select__menu {
    &:focus {
      box-shadow: $formfield-error-focus;
    }
  }

  &.has-error &__select::after {
    background-color: $red-100;
  }
}