.atomikui-dropdown {
  &__label {
    margin-bottom: rem(3);
  }

  &__hints {
    margin-top: rem(3);
  }

  &__select {
    background-color: $white;
    border-radius: rem($border-radius);
    position: relative;

    &__trigger {
      align-items: center;
      border-radius: rem(0 $border-radius $border-radius 0);
      bottom: rem(0);
      content: '';
      display: flex;
      justify-content: center;
      pointer-events: none;
      position: absolute;
      right: rem(0);
      top: rem(0);
      width: rem($input-height);

      & > svg {
        & > path {
          fill: $blue-gray-900;
        }
      }
    }
  }

  &__select__menu {
    @include input();

    &:focus {
      @include focus-outline();
    }
  }

  &.is-disabled {
    .atomikui-dropdown__select__trigger {
      & > svg {
        & > path {
          fill: $blue-gray-400;
        }
      }
    }
  }

  &.has-error &__select {
    border: rem(1) solid $formfield-border-error;
  }

  &.has-error &__select__menu {
    &:focus {
      @include focus-error-outline();
    }
  }
}
