.atomikui-dropdown {
  &__label {
    margin-bottom: rem(3);
  }

  &__hints {
    margin-top: rem(3);
  }

  &__select {
    background-color: $white;
    border-radius: rem($default-border-radius);
    position: relative;

    &__trigger {
      align-items: center;
      background-color: $active-bg-color;
      border-radius: rem(0 $default-border-radius $default-border-radius 0);
      bottom: rem(0);
      content: '';
      display: flex;
      justify-content: center;
      pointer-events: none;
      position: absolute;
      right: rem(0);
      top: rem(0);
      width: rem($input-height);

      & > svg {
        & > path {
          fill: $white;
        }
      }
    }
  }

  &__select__menu {
    @include input();

    &:focus {
      @include focus-outline();
    }
  }

  &.is-disabled {
    .atomikui-dropdown__select {
      border: 0;
    }

    .atomikui-dropdown__select__trigger {
      background-color: darken($disabled-background-gray, 5%);
    }
  }

  &.has-error &__select {
    border-color: $formfield-border-error;
  }

  &.has-error &__select__menu {
    &:focus {
      @include focus-error-outline();
    }
  }

  &.has-error &__select__trigger {
    background-color: $error-red;
  }

  @each $name, $color in $background-dark-colors {
    &--#{$name} {
      .atomikui-dropdown__select__trigger {
        background-color: $color;
        border-color: $color;

        @if $name ==
          yellow or
          $name ==
          lime or
          $name ==
          light-green or
          $name ==
          orange or
          $name ==
          light-orange or
          $name ==
          amber
        {
          & > svg {
            & > path {
              fill: $black;
            }
          }
        }
      }
    }
  }

  @each $name, $color in $background-light-colors {
    &--#{$name}-light {
      .atomikui-dropdown__select__trigger {
        background-color: $color;
        border-color: $color;

        & > svg {
          & > path {
            fill: $black;
          }
        }
      }
    }
  }
}
