.rcl-step {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  z-index: 2;

  &:not(:first-child)::before,
  &:not(:last-child)::after {
    background: $gray-100;
    border-radius: rem(4);
    content: '';
    display: block;
    height: rem(2);
    position: absolute;
    width: 50%;
    z-index: 1;
  }

  &:not(:first-child)::before {
    left: 0;
    top: rem(14);
  }

  &:not(:last-child)::after {
    right: 0;
    top: rem(14);
  }

  &__number {
    align-items: center;
    background: $gray-400;
    border-radius: 50%;
    color: $white;
    display: flex;
    height: rem(32);
    justify-content: center;
    margin-bottom: rem(4);
    text-decoration: none;
    width: rem(32);
    z-index: 2;
  }

  &__label {
    display: none;
    font-size: rem(14);
    padding: rem(0 8);
  }

  &--top-label {
    flex-direction: column-reverse;

    .rcl-step__number {
      margin-bottom: 0;
      margin-top: rem(4);
    }

    &:not(:first-child)::before,
    &:not(:last-child)::after {
      top: auto;
      bottom: rem(16);
    }
  }

  &.is-active > &__number {
    background: $blue-200;
  }

  &.is-complete > &__number {
    background: $green-100;

    &:focus,
    &:hover {
      box-shadow: rem(0 0 0 8) rgba(0, 0, 0, 0.1);
    }
  }

  &.rcl-step--dark {
    &:not(:first-child)::before,
    &:not(:last-child)::after {
      background: $gray-400;
    }

    &.is-complete {
      & .rcl-step__number {
        &:focus,
        &:hover {
          box-shadow: rem(0 0 0 8) rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  @media (min-width: $breakpoint-medium) {
    &__label {
      display: block;
    }
  }
}
