.rcl-stepper {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;

  @media (min-width: $breakpoint-medium) {
    &--inline > * {
      flex-direction: row;
      justify-content: space-between;

      &::before {
        margin-right: rem(8);
      }

      &:not(:first-child)::before,
      &:not(:last-child)::after {
        position: static;
        width: auto;
        flex: 1;
      }
    }
  }
}
