$pagination-hover-bg: darken($background-light-gray, 10%);

.atomikui-pagination {
  background: $background-light-gray;
  border-radius: rem($border-radius);
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;

  & > * + * {
    border-left: rem(1) solid $gray-200;
  }

  &__item > a {
    color: $default-control-text-color;
    cursor: pointer;
    display: block;
    line-height: 1;
    outline: 0;
    padding: rem(8);
    transition: background 0.2s linear;

    &:focus,
    &:active {
      background: $pagination-hover-bg;
      @include focus-outline();
    }

    &:hover {
      background: $pagination-hover-bg;
      text-decoration: none;
    }

    &.is-disabled {
      color: lighten($default-control-text-color, 40%);
    }
  }

  &__item.is-active > a {
    background: $active-bg-color;
    color: $white;
  }
}
