.rcl-pagination {
  background: $white;
  border: rem(1) solid $gray-200;
  border-radius: rem($border-radius);
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;

  & > * + * {
    border-left: rem(1) solid $gray-200;
  }

  &__item > a {
    cursor: pointer;
    display: block;
    outline: 0;
    padding: rem(8);
    line-height: 1;
    transition: background 0.2s linear;

    &:focus,
    &:active {
      background: $blue-000;
      @include focus-outline();
    }

    &:hover {
      background: $blue-000;
      text-decoration: none;
    }
  }

  &__item.is-active > a {
    background: $blue-200;
    color: $white;
  }

  &--dark {
    background: $gray-500;
    border-color: $gray-400;

    & > * + * {
      border-left: rem(1) solid $gray-400;
    }

    & > .rcl-pagination__item.is-active > a {
      background: $blue-100;
      color: $black;
    }

    & > .rcl-pagination__item:not(.is-active) > a {
      &:hover,
      &:active {
        background: lighten($gray-500, 6%);
      }
    }
  }
}
