.atomikui-formfield {
  &__input {
    @include input();
  }

  &__textarea {
    @include input();

    height: rem($text-area-height);
    padding: rem(8);
  }

  &__label {
    margin-bottom: rem(3);
  }

  &__hints {
    margin-top: rem(3);
  }

  &.has-error > &__input {
    border-color: $error-red;
  }

  &.has-error > &__input:focus,
  &.has-error > &:focus {
    @include focus-error-outline();
  }

  @each $name, $breakpoint in $breakpoints {
    @media (min-width: $breakpoint) {
      @each $size in $formfield-sizes {
        &--#{$size}\@#{$name} {
          width: rem($size);
        }
      }
    }
  }

  @each $name, $size in $formfield-sizes {
    &--#{$name} {
      width: rem($size);
    }
  }
}
