.atomikui-price {
  align-items: stretch;
  display: inline-flex;
  font-size: rem(24);
  line-height: 0.7;

  &__currency {
    font-size: 50%;
  }

  &__amount {
    font-weight: $font-semibold;
    margin: rem(0 2);
  }

  &__label {
    align-self: flex-end;
    bottom: rem(1);
    font-size: 55%;
    font-weight: $font-semibold;
    position: relative;
  }

  &--sm {
    font-size: rem(12);
  }

  &--md {
    font-size: rem(16);
  }

  &--lg {
    font-size: rem(32);
  }

  &--xl {
    font-size: rem(40);
  }

  @each $name, $color in $background-dark-colors {
    &--#{$name} {
      .atomikui-price__amount {
        color: $color;
      }

      @if $name ==
        cyan or
        $name ==
        light-green or
        $name ==
        lime or
        $name ==
        yellow or
        $name ==
        light-orange or
        $name ==
        orange or
        $name ==
        amber
      {
        color: $white;
      }
    }
  }

  @each $name, $color in $background-light-colors {
    &--#{$name}-light {
      color: $color;
    }
  }
}
