.atomikui-price {
  align-items: stretch;
  display: inline-flex;
  font-size: rem(24);
  line-height: 0.7;

  &__currency {
    font-size: 50%;
  }

  &__amount {
    font-weight: $font-semibold;
    margin: rem(0 2);
  }

  &__label {
    align-self: flex-end;
    font-size: 55%;
    position: relative;
    bottom: rem(1);
  }

  &--sm {
    font-size: rem(12);
  }

  &--md {
    font-size: rem(16);
  }

  &--lg {
    font-size: rem(32);
  }

  &--xl {
    font-size: rem(40);
  }

  @each $color, $value in $price-themes {
    &--#{$color} {
      color: $value;
    }
  }
}
