$cartInnerBorder: rem(1) solid darken($gray-200, 3%);

.atomikui-cart {
  background-color: $white;
  border: 1px solid $blue-gray-100;

  &__hd {
    display: flex;
    font-size: rem(18);
    font-weight: $font-bold;
    justify-content: space-between;
    padding: rem(16);

    & > * + * {
      margin-left: rem(16);
    }
  }

  &__bd {
    border-bottom: $cartInnerBorder;
    border-top: $cartInnerBorder;
    padding: rem(0 16);
  }

  &__ft {
    padding: rem(16);
    text-align: right;
  }

  &__items {
    & > * + * {
      border-top: $cartInnerBorder;
    }
  }
}
