.rcl-progress-bar {
  background: $gray-100;
  border-radius: rem($border-radius);
  display: flex;
  height: rem(20);
  overflow: hidden;

  &__bar {
    align-items: center;
    background-color: $blue-300;
    display: flex;
    justify-content: center;
  }

  &__label {
    color: $white;
    font-size: rem(12);
  }

  &--error > &__bar {
    background: $red-100;
  }

  &--warning > &__bar {
    background: $orange-100;
  }

  &--success > &__bar {
    background: $green-100;
  }

  &--info > &__bar {
    background: $blue-200;
  }

  &--animated > &__bar {
    animation: move 2s linear infinite;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    background-size: 25px 25px;
  }

  &--dark {
    background: $dark-background-gray;
  }

  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 25px 25px;
    }
  }
}
