.bullet-list {
  list-style-type: disc;
  margin: rem(0 0 0 16);

  & > * + * {
    margin-top: rem(4);
  }

  @each $increment in $list-spacing {
    &--spacing-#{$increment} > * + * {
      margin-top: rem($increment);
    }
  }
}