.atomikui-rating {
  & > * + * {
    margin-left: rem(3);
  }

  &__star {
    & > path {
      fill: $yellow-800;
    }

    &--selectable {
      cursor: pointer;

      & > path {
        fill: $blue-gray-100;
      }

      &:hover {
        & > path {
          fill: $blue-gray-200;
        }
      }
    }

    &.is-selected {
      & > path {
        fill: $yellow-800;
      }

      &:hover {
        & > path {
          fill: $yellow-300;
        }
      }
    }
  }
}
