body {
  line-height: 1.4;
  color: $blue-gray-900;
}

#brand-heading {
  font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
  font-size: rem(56);
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

#brand-subheading {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: rem(24) !important;
  line-height: 1.2;
}
