@import '../../sass-starter/abstracts';

[data-preview='Card'],
[data-preview='Icons'] {
  svg > path {
    fill: $gray-100;
  }
}

[data-testid='mountNode'] {
  color: $white;
}

table[class^='rsg--table'] tbody > * + * {
  border-top-color: #444;
}

[class^='rsg--name'] {
  color: #a6e22e !important;
}

[class^='rsg--type'] {
  color: #66d9ef !important;
}
