@import '../../sass-utilities/abstracts';

body {
  background-color: #1a1a1a;
  color: $white;
}

[data-preview='Card'],
[data-preview='Icons'] {
  svg > path {
    fill: $gray-100;
  }
}

table[class^='rsg--table'] tbody > * + * {
  border-top-color: #444;
}

[class^='rsg--name'] {
  color: #a6e22e !important;
}

[class^='rsg--type'] {
  color: #66d9ef !important;
}

[class^='rsg--pathline'] {
  color: $gray-200 !important;
}

.icon-list__label {
  color: $white;
}

h1,
h2,
h3,
h4 {
  color: $white;
}
