.icon-list {
  display: flex;
  flex-wrap: wrap;

  & > * {
    width: 50%;
    padding: rem(16);
    text-align: center;
  }

  &__label {
    font-size: rem(14);
    margin-top: rem(8);
  }

  @media (min-width: $breakpoint-small) {
    & > * {
      width: 33.333%;
    }
  }

  @media (min-width: $breakpoint-medium) {
    & > * {
      width: 25%;
    }
  }
}
