#brand-heading {
  font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
  font-size: rem(55) !important;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

#brand-subheading {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: rem(24) !important;
  line-height: 1.2;
  text-align: center;
}

.readme-header > p {
  text-align: center;
}
