#brand-heading {
  font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
  font-size: rem(55) !important;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  & > a {
    color: $gray-900;
  }
}

#brand-subheading {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: rem(24) !important;
  line-height: 1.2;
  text-align: center;
  margin-bottom: rem(16);
}

#status-images {
  text-align: center !important;

  p {
    text-align: center !important;
  }

  p > * + * {
    margin-left: rem(4);
  }
}
