h1,
h2,
h3,
h4,
h5,
h6 {
  &[class^='rsg--'] {
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
  }
}

h1#section-getting-started {
  display: none;
}

h2[class^='rsg--'] {
  font-size: rem(50);
}

h3[class^='rsg--'] {
  font-size: rem(30);
}

h4[class^='rsg--'] {
  font-size: rem(20);
}

[class^='rsg--preview'] {
  border-bottom: 0 !important;
  border-radius: 0 !important;
}

[class^='rsg--tab'] {
  [class^='rsg--root'],
  textarea {
    border-radius: 0 !important;
  }
}

code[class^='rsg--code']:not(:empty) {
  color: #dd4a68;
}

a > code[class^='rsg--code'] {
  cursor: pointer;
}

[class^='rsg--footer'] {
  display: none !important;
}

#rsg-root > * {
  position: relative;
}
