table[class^='rsg--table'] {
  background: lighten($background-light-gray, 3%);

  thead {
    border-bottom: rem(2) solid darken($background-light-gray, 5%);
  }

  th,
  td {
    padding: rem(8 16);
  }

  tbody {
    tr > * + * {
      border-left: rem(1) solid darken($background-light-gray, 5%);
    }
  }
}
