table[class^='rsg--table'] {
  background: $gray-000;

  thead {
    border-bottom: rem(2) solid darken($gray-100, 7%);
  }

  th,
  td {
    padding: rem(8 16);
  }

  tbody {
    tr > * + * {
      border-left: rem(1) solid darken($gray-100, 5%);
    }
  }
}
