[data-preview='Statistic'] > * {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin: rem(0 24 16 0);
  }
}

[data-testid='Statistic-example-13'] {
  background: darken($blue-gray-900, 5%) !important;
}

.statistic-alt {
  background: darken($blue-gray-900, 5%);
  padding: rem(16);

  & > * {
    margin: rem(0 24 16 0);
  }
}
