table[class^='rsg--table'] {
  thead {
    border-bottom: rem(2) solid darken($background-light-gray, 2%);
    text-align: left;
    font-size: rem(13);
  }

  th,
  td {
    padding: rem(8 16);
  }

  tbody {
    tr > * + * {
      border-left: rem(1) solid darken($background-light-gray, 2%);
    }
  }
}
