[data-preview='MiniCart'] > * {
  & > * + * {
    margin: rem(16 0 0);
  }

  @media (min-width: $breakpoint-medium) {
    display: flex;

    .atomikui-mini-cart {
      width: 100%;
    }

    .container {
      width: 100%;
      max-width: auto;
    }

    & > * + * {
      margin: rem(0 0 0 16);
    }
  }
}
