[data-preview='Price'] > * {
  & > * {
    flex-wrap: wrap;
    margin-right: rem(16);

    &::after {
      content: '';
      margin-bottom: rem(16);
      width: 100%;
    }
  }
}

[data-testid='Price-example-7'] {
  background: #111 !important;
}
