h1,
h2,
h3,
h4,
h5,
h6 {
  &[class^='rsg--'] {
    font-weight: 500;
    font-family: 'Hind Madurai', Arial, Helvetica, sans-serif;
  }
}

code[class^='rsg--code']:not(:empty) {
  color: #dd4a68;
}

a > code[class^='rsg--code'] {
  cursor: pointer;
}

#rsg-root > * {
  position: relative;
}
