div[class^='rsg--sidebar'] {
  [class^='rsg--logo'] > h1 {
    font-family: 'Hind Madurai', Arial, Helvetica, sans-serif;
    font-size: rem(20);
    font-weight: 500;
    line-height: 1.2;
  }

  .rsg--heading-69 {
    text-transform: uppercase;
    font-weight: $font-bold;
    display: block;
    border-bottom: 1px solid darken($gray-100, 12%);
  }
}
