.atomikui-badge {
  background: $blue-gray-900;
  border-radius: rem($border-radius);
  color: $white;
  display: inline-flex;
  font-size: rem(13);
  overflow: hidden;

  &__label,
  &__value {
    padding: rem(4 8);
  }

  &__value {
    background: $blue-800;
  }

  @each $name, $color in $background-dark-colors {
    &--#{$name} {
      .atomikui-badge__value {
        background: $color;

        @include altFontColor($name);
      }
    }
  }

  @each $name, $color in $background-light-colors {
    &--#{$name}-light {
      .atomikui-badge__value {
        background: $color;
        color: $black;
      }
    }
  }
}
