{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "accessor-pairs": "error",
    "array-bracket-newline": 0,
    "array-bracket-spacing": 0,
    "array-callback-return": "error",
    "array-element-newline": 0,
    "arrow-body-style": 0,
    "arrow-parens": 2,
    "arrow-spacing": [
      "error",
      {
        "after": true,
        "before": true
      }
    ],
    "block-scoped-var": 0,
    "block-spacing": 0,
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "callback-return": 0,
    "camelcase": 0,
    "capitalized-comments": 0,
    "class-methods-use-this": "error",
    "comma-dangle": 1,
    "comma-spacing": 0,
    "comma-style": ["error", "last"],
    "complexity": 0,
    "computed-property-spacing": ["error", "never"],
    "consistent-return": 0,
    "consistent-this": 0,
    "curly": 0,
    "default-case": 0,
    "default-param-last": "error",
    "dot-location": ["error", "property"],
    "dot-notation": 0,
    "eol-last": 0,
    "eqeqeq": 0,
    "func-call-spacing": "error",
    "func-name-matching": 0,
    "func-names": 0,
    "func-style": 0,
    "function-call-argument-newline": 0,
    "function-paren-newline": 0,
    "generator-star-spacing": "error",
    "global-require": "error",
    "grouped-accessor-pairs": "error",
    "guard-for-in": 0,
    "handle-callback-err": "error",
    "id-blacklist": "error",
    "id-length": 0,
    "id-match": "error",
    "implicit-arrow-linebreak": "error",
    "indent": 0,
    "indent-legacy": 0,
    "init-declarations": 0,
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": 0,
    "keyword-spacing": [
      "error",
      {
        "after": true,
        "before": true
      }
    ],
    "line-comment-position": 0,
    "linebreak-style": 0,
    "lines-around-comment": 0,
    "lines-around-directive": 0,
    "lines-between-class-members": "error",
    "max-classes-per-file": "error",
    "max-depth": 0,
    "max-len": 0,
    "max-lines": 0,
    "max-lines-per-function": 0,
    "max-nested-callbacks": "error",
    "max-params": 0,
    "max-statements": 0,
    "max-statements-per-line": 0,
    "multiline-comment-style": 0,
    "multiline-ternary": 0,
    "new-parens": 0,
    "newline-after-var": 0,
    "newline-before-return": 0,
    "newline-per-chained-call": 0,
    "no-alert": "error",
    "no-array-constructor": "error",
    "no-await-in-loop": "error",
    "no-bitwise": 0,
    "no-buffer-constructor": "error",
    "no-caller": "error",
    "no-catch-shadow": "error",
    "no-confusing-arrow": "error",
    "no-console": 0,
    "no-constructor-return": "error",
    "no-continue": 0,
    "no-div-regex": "error",
    "no-dupe-else-if": "error",
    "no-duplicate-imports": "error",
    "no-else-return": 0,
    "no-empty-function": 0,
    "no-eq-null": 0,
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-extra-parens": 0,
    "no-floating-decimal": "error",
    "no-implicit-coercion": [
      "error",
      {
        "boolean": false,
        "number": false,
        "string": false
      }
    ],
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-import-assign": "error",
    "no-inline-comments": 0,
    "no-inner-declarations": ["error", "functions"],
    "no-invalid-this": 0,
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": [
      "error",
      {
        "allowLoop": true,
        "allowSwitch": true
      }
    ],
    "no-lone-blocks": 0,
    "no-lonely-if": 0,
    "no-loop-func": 0,
    "no-magic-numbers": 0,
    "no-mixed-operators": 0,
    "no-mixed-requires": "error",
    "no-multi-assign": 0,
    "no-multi-spaces": 0,
    "no-multi-str": "error",
    "no-multiple-empty-lines": "error",
    "no-native-reassign": 0,
    "no-negated-condition": 0,
    "no-negated-in-lhs": "error",
    "no-nested-ternary": 0,
    "no-new": 0,
    "no-new-func": 0,
    "no-new-object": "error",
    "no-new-require": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-param-reassign": 0,
    "no-path-concat": "error",
    "no-plusplus": 0,
    "no-process-env": 0,
    "no-process-exit": "error",
    "no-proto": "error",
    "no-restricted-globals": "error",
    "no-restricted-imports": "error",
    "no-restricted-modules": "error",
    "no-restricted-properties": "error",
    "no-restricted-syntax": "error",
    "no-return-assign": 0,
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-compare": 0,
    "no-sequences": 0,
    "no-setter-return": "error",
    "no-shadow": 0,
    "no-spaced-func": "error",
    "no-sync": 0,
    "no-tabs": "error",
    "no-template-curly-in-string": 0,
    "no-ternary": 0,
    "no-throw-literal": "error",
    "no-trailing-spaces": 0,
    "no-undef-init": 0,
    "no-undefined": 0,
    "no-underscore-dangle": 0,
    "no-unmodified-loop-condition": 0,
    "no-unneeded-ternary": 0,
    "no-unused-expressions": 0,
    "no-use-before-define": 0,
    "no-useless-call": "error",
    "no-useless-computed-key": "error",
    "no-useless-concat": 0,
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-useless-return": 0,
    "no-var": 0,
    "no-void": 0,
    "no-warning-comments": 0,
    "no-whitespace-before-property": "error",
    "nonblock-statement-body-position": "error",
    "object-curly-newline": "error",
    "object-curly-spacing": 0,
    "object-property-newline": 0,
    "object-shorthand": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "operator-assignment": ["error", "always"],
    "operator-linebreak": 0,
    "padded-blocks": 0,
    "padding-line-between-statements": "error",
    "prefer-arrow-callback": 0,
    "prefer-const": "error",
    "prefer-destructuring": 0,
    "prefer-exponentiation-operator": "error",
    "prefer-named-capture-group": 0,
    "prefer-numeric-literals": "error",
    "prefer-object-spread": 0,
    "prefer-promise-reject-errors": "error",
    "prefer-reflect": 0,
    "prefer-regex-literals": "error",
    "prefer-rest-params": 0,
    "prefer-spread": 0,
    "prefer-template": 0,
    "quote-props": 0,
    "quotes": [2, "single", { "avoidEscape": true }],
    "radix": ["error", "always"],
    "require-atomic-updates": "error",
    "require-await": 0,
    "require-jsdoc": 0,
    "require-unicode-regexp": 0,
    "rest-spread-spacing": ["error", "never"],
    "semi": 1,
    "semi-spacing": 0,
    "semi-style": 0,
    "sort-keys": 0,
    "sort-vars": 0,
    "space-before-blocks": 0,
    "space-before-function-paren": 0,
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": 0,
    "spaced-comment": 0,
    "strict": 0,
    "switch-colon-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "symbol-description": 0,
    "template-curly-spacing": ["error", "never"],
    "template-tag-spacing": "error",
    "unicode-bom": ["error", "never"],
    "valid-jsdoc": 0,
    "vars-on-top": 0,
    "wrap-iife": 0,
    "wrap-regex": 0,
    "yield-star-spacing": "error"
  }
}
