{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb-base"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": 0,
    "max-len": [
      "warn",
      {
        "ignoreComments": true
      }
    ],
    "object-curly-newline": 0,
    "object-property-newline": 2,
    "implicit-arrow-linebreak": 0,
    "arrow-body-style": ["error", "always"]
  }
}
