language: node_js
node_js:
  - '12.16.2'
cache:
  directories:
    - node_modules
script:
  - npm run build:styleguide
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: build
  on:
    branch: master
