.is-visibly-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: rem(-1);
  margin: rem(-1);
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: rem(1);
}

.is-hidden {
  visibility: hidden;
}

@each $value in $display-options {
  .display-#{$value} {
    display: $value;
  }
}

@each $name, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $value in $display-options {
      .display-#{$value}\@#{$name} {
        display: $value;
      }
    }
  }
}
