button.btn,
a.btn {
  background: $white;
  border: rem(1) solid $blue-400;
  border-radius: rem($base-border-radius);
  color: $blue-400;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: rem(14);
  font-weight: $font-medium;
  min-height: rem($input-height);
  outline: 0;
  padding: rem(10 24);
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.3s linear;

  &:hover {
    background: $blue-000;
  }

  &:focus,
  &:active {
    background: $blue-000;
    @include focus-outline();
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    background: $gray-100;
    box-shadow: 0;
    color: $gray-300;
    cursor: default;
  }

  &--pill {
    border-radius: rem($input-height);
  }

  &--block {
    display: block;
    width: 100%;
  }

  @each $name, $map in $button-sizes {
    &--#{$name} {
      font-size: rem(map-get($map, font-size));
      min-height: rem(map-get($map, min-height));
      padding: rem(map-get($map, padding));
    }
  }

  @each $variant, $map in $btn-variants {
    &--#{$variant} {
      background: map-get($map, background-color);
      border: 0;
      color: map-get($map, font-color);
      padding: map-get($map, padding);

      &:active,
      &:focus,
      &:hover {
        background: darken(map-get($map, background-color), 15%);
      }
    }
  }
}
