.rcl-btn,
a.rcl-btn {
  background-color: $color-btn-default;
  border: 0;
  border-radius: rem($base-border-radius);
  color: $blue-300;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: rem(14);
  font-weight: $font-medium;
  min-height: rem($input-height);
  outline: 0;
  padding: rem(10 24);
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;

  &:not(.rcl-btn--link) {
    text-transform: uppercase;
  }

  &:hover {
    background-color: darken($blue-000, 7%);
  }

  &:focus,
  &:active {
    background-color: $blue-000;
    @include focus-outline();
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    background-color: $gray-000;
    box-shadow: 0;
    color: $gray-300;
    cursor: default;
  }

  &--dark {
    background: $gray-400;
    border: 0;
    color: $white;

    &:hover,
    &:focus {
      background: darken($gray-400, 10%);
    }

    &.rcl-btn--hollow {
      color: $blue-100;

      &:hover {
        background: $dark-background-gray;
      }
    }

    &.rcl-btn--link {
      color: $blue-100;

      &:hover {
        color: $blue-100;
        text-decoration: underline;
      }
    }
  }

  @each $name, $map in $button-sizes {
    &--#{$name} {
      font-size: rem(map-get($map, font-size));
      min-height: rem(map-get($map, min-height));
      padding: rem(map-get($map, padding));
    }
  }

  @each $variant, $map in $btn-variants {
    &--#{$variant} {
      background-color: map-get($map, background-color);
      border: 0;
      color: map-get($map, font-color);
      padding: map-get($map, padding);

      &:active,
      &:focus,
      &:hover {
        background-color: darken(map-get($map, background-color), 10%);
      }

      &:focus,
      &:active {
        box-shadow: rem(0 0 0 3) lighten(map-get($map, background-color), 15%);
      }
    }
  }

  &--hollow {
    &:hover {
      background-color: $blue-000;
    }

    &:focus,
    &:active {
      background-color: $blue-000;
      @include focus-outline();
    }
  }

  &--link {
    min-height: auto;
    font-size: inherit;

    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }

  &--pill {
    border-radius: rem($input-height);
  }

  &--square {
    border-radius: 0;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--no-radius {
    border-radius: 0;
  }

  &--condensed {
    padding: rem(10 16);
  }

  &--nowrap {
    white-space: nowrap;
  }
}
