.atomikui-btn,
a.atomikui-btn {
  background-color: $default-btn-color;
  border: 0;
  border-radius: rem($border-radius);
  color: $default-control-text-color;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: rem(14);
  font-weight: $font-medium;
  min-height: rem($input-height);
  outline: 0;
  padding: rem(10 24);
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;

  &:not(.atomikui-btn--link) {
    text-transform: uppercase;
  }

  &:hover,
  &:focus {
    background-color: $default-btn-color-hover;
  }

  &:focus,
  &:active {
    @include focus-outline();
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    background-color: $gray-100;
    box-shadow: 0;
    color: $gray-400;
    cursor: default;
  }

  &--hollow {
    background-color: transparent;

    &:hover {
      background-color: $default-btn-color-hover;
    }
  }

  &--white {
    background-color: $white;

    &:hover {
      background-color: $default-btn-color;
    }
  }

  &--link {
    background-color: transparent;
    color: $color-link;
    font-size: inherit;
    font-weight: $font-normal;
    min-height: auto;
    padding: 0;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  @each $name, $color in $background-dark-colors {
    &--#{$name} {
      background-color: $color;
      color: $white;

      @include altFontColor($name);

      &:hover,
      &:focus {
        background-color: darken($color, 5%);
      }

      @if $name == black {
        &:hover,
        &:focus {
          background-color: $gray-900;
        }
      }
    }
  }

  @each $name, $color in $background-light-colors {
    &--#{$name}-light {
      background-color: $color;
      color: $black;

      &:hover,
      &:focus {
        background-color: darken($color, 5%);
      }

      @if $name == white {
        &:hover,
        &:focus {
          background-color: $gray-900;
        }
      }
    }
  }

  @each $name, $map in $button-sizes {
    &--#{$name} {
      font-size: rem(map-get($map, font-size));
      min-height: rem(map-get($map, min-height));
      padding: rem(map-get($map, padding));
    }
  }

  &--pill {
    border-radius: rem($input-height);
  }

  &--square {
    border-radius: 0;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--no-radius {
    border-radius: 0;
  }

  &--condensed {
    padding: rem(10 16);
  }

  &--nowrap {
    white-space: nowrap;
  }
}
