.rcl-menu {
  margin: 0;
  padding: rem(8 0);

  & > * {
    list-style-type: none;
  }

  & > * > * {
    border: 0;
    border-radius: 0;
    color: $black;
    display: flex;
    font-size: inherit;
    outline: 0;
    padding: rem(8 16);
    text-decoration: none;
    text-transform: capitalize;
    transition: background 0.2s ease-in-out;
    width: 100%;

    &:hover {
      background: $gray-000;
    }

    &:focus,
    &:active {
      background: $blue-200;
      box-shadow: none;
      color: $white;
    }
  }

  &--with-dividers:not(&--inline):not(&--inline-stretch) > * + * {
    border-top: rem(1) solid darken($gray-100, 5%);
  }

  &--inline.rcl-menu--with-dividers > * + *,
  &--inline-stretch.rcl-menu--with-dividers > * + * {
    border-left: rem(1) solid darken($gray-100, 10%);
  }

  &--inline {
    display: flex;
  }

  &--inline-stretch {
    display: flex;

    & > * {
      flex: 1;
    }

    & > * > * {
      justify-content: center;
    }
  }

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }
}
