.atomikui-check-option {
  align-items: center;
  display: inline-flex;

  &__icon {
    align-items: center;
    background: $background-light-gray;
    border: rem(1) solid transparent;
    border-radius: rem($border-radius);
    display: flex;
    height: rem(22);
    justify-content: center;
    margin-right: rem(7);
    width: rem(22);
  }

  &--radio > .atomikui-check-option__icon,
  &--radio > .atomikui-check-option__icon::after {
    border-radius: 50%;
  }

  &.has-error > .atomikui-check-option__icon {
    border-color: $formfield-border-error;
  }

  &.is-disabled + .atomikui-check-option__icon {
    background: $background-light-gray;
    border-color: $formfield-border;
    border: 0;
  }

  & > input {
    left: rem(-10000);
    position: absolute;
  }

  & > input:checked + .atomikui-check-option__icon {
    background: $active-bg-color;
    border-color: $active-bg-color;

    & > svg {
      & > path {
        fill: $white;
      }
    }
  }

  & > input:checked:focus + .atomikui-check-option__icon {
    @include focus-outline();
  }

  &.has-error > input:checked + .atomikui-check-option__icon {
    background: $error-red;
    border-color: $error-red;
  }

  &.has-error > input:focus + .atomikui-check-option__icon {
    @include focus-error-outline();
  }

  &.is-disabled > input:checked + .atomikui-check-option__icon {
    background: $disabled-background-gray;
    border-color: $disabled-background-gray;
  }

  @each $name, $color in $background-dark-colors {
    &--#{$name} {
      & > input:checked:checked + .atomikui-check-option__icon {
        background-color: $color;
        border-color: $color;

        @include altFontColor($name);
      }
    }
  }

  @each $name, $color in $background-light-colors {
    &--#{$name}-light {
      & > input:checked:checked + .atomikui-check-option__icon {
        background-color: $color;
        border-color: $color;

        & > svg {
          & > path {
            fill: $black;
          }
        }
      }
    }
  }
}
