.atomikui-check-option {
  &__icon {
    background: $dark-background-gray;
    border-color: $gray-300;
  }

  &.is-disabled > input {
    & + .atomikui-check-option__icon {
      background: $dark-background-gray;
      border: 0;
    }
  }
}
