.rcl-list-item {
  &.is-menu-item {
    & > * {
      border: 0;
      border-radius: 0;
      color: $black;
      display: flex;
      font-size: inherit;
      outline: 0;
      padding: rem(8 16);
      text-decoration: none;
      text-transform: capitalize;
      transition: background 0.2s ease-in-out;
      width: 100%;

      &:hover {
        background: $gray-000;
      }

      &:active,
      &:focus {
        background: $blue-200;
        box-shadow: none;
        color: $white;
      }
    }
  }

  &.rcl-list-item--dark {
    color: $white;

    &.is-menu-item > * {
      color: $white;

      &:hover {
        background: $black;
      }
    }
  }
}
