.rcl-tab-panel {
  background: $gray-000;
  padding: rem(16);
  display: none;

  &--inverse {
    background: lighten($gray-500, 6%);
    color: $white;
  }

  &.is-active {
    display: block;
  }
}
