.rcl-tab-panel {
  background: $default-background-light-gray;
  padding: rem(16);
  display: none;

  &--dark {
    background: lighten($gray-500, 6%);
    color: $white;
  }

  &.is-active {
    display: block;
  }
}
