.rcl-tabs {
  background: $background-light-gray;
  display: flex;

  &--dark {
    background: $dark-background-gray;
  }

  &--align-center {
    justify-content: center;
  }

  &--align-right {
    justify-content: flex-end;
  }

  &--align-stretch > * {
    flex: 1;
  }
}
