.atomikui-switch-panel {
  background: $dark-background-gray;
  border: 0;

  & > .atomikui-switch-panel__hd {
    background: lighten($gray-500, 8%);
  }

  & > .atomikui-switch-panel__bd {
    & > * + * {
      border-top-color: lighten($gray-500, 5%);
    }
  }
}
