.atomikui-switch-panel {
  background: $white;
  border: rem(1) solid $default-border-gray;
  border-radius: rem($border-radius);
  overflow: hidden;

  &__hd {
    background: $gray-000;
    font-weight: $font-semibold;
    padding: rem(12 16);
    text-transform: uppercase;
  }

  &__bd {
    & > * {
      padding: rem(16);
    }

    & > * + * {
      border-top: rem(1) solid $gray-100;
    }
  }
}
