.rcl-switch-panel {
  border-radius: rem($border-radius);
  box-shadow: rem(0 0 5) rgba(0, 0, 0, 0.15);

  & > * {
    padding: rem(16);
  }

  & > * + * {
    border-top: rem(1) solid $gray-100;
  }

  &--dark {
    & > * + * {
      border-top-color: lighten($gray-500, 5%);
    }
  }
}
