$alert-themes: (
  dark: $gray-500,
  info: $info-blue,
  success: $success-green,
  error: $error-red,
  warning: $warning-orange,
) !default;

$tooltip-themes: (
  'light-gray': darken($gray-100, 3%),
  info: $info-blue,
  success: $success-green,
  error: $error-red,
  warning: $warning-orange,
) !default;

$badge-themes: (
  'light-gray': $light-gray,
  'light-blue': $blue-000,
  info: $info-blue,
  success: $success-green,
  error: $error-red,
  warning: $warning-orange,
) !default;

$price-themes: (
  light-green: $green-000,
  green: $green-100,
  blue: $blue-200,
  red: $red-100,
);

$btn-themes: (
  primary: (
    background-color: $color-btn-primary,
    font-color: $white,
  ),
  secondary: (
    background-color: $color-btn-secondary,
    font-color: $white,
  ),
  tertiary: (
    background-color: $color-btn-tertiary,
    font-color: $white,
  ),
  warning: (
    background-color: $warning-orange,
    font-color: $white,
  ),
  white: (
    background-color: $white,
    font-color: $blue-400,
  ),
  hollow: (
    background-color: transparent,
    font-color: $blue-400,
  ),
  link: (
    background-color: transparent,
    font-color: $color-link,
    padding: 0,
  ),
) !default;

$background-color-themes: (
  red: (
    background-color: $red-100,
    font-color: $white,
  ),
  orange: (
    background-color: $orange-100,
    font-color: $white,
  ),
  yellow: (
    background-color: $yellow-100,
  ),
  gold: (
    background-color: $yellow-200,
  ),
  green: (
    background-color: $green-100,
    font-color: $white,
  ),
  light-blue: (
    background-color: $blue-100,
  ),
  medium-blue: (
    background-color: $blue-200,
    font-color: $white,
  ),
  dark-blue: (
    background-color: $blue-300,
    font-color: $white,
  ),
  light-gray: (
    background-color: $gray-100,
  ),
  medium-gray: (
    background-color: $gray-300,
    font-color: $white,
  ),
  dark-gray: (
    background-color: $gray-400,
    font-color: $white,
  ),
  black: (
    background-color: $black,
    font-color: $white,
  ),
) !default;

$statistic-themes: (
  red: $red-100,
  orange: $orange-100,
  yellow: $yellow-100,
  gold: $yellow-200,
  green: $green-100,
  light-blue: $blue-100,
  medium-blue: $blue-200,
  dark-blue: $blue-300,
  light-gray: $gray-200,
  medium-gray: $gray-300,
  dark-gray: $gray-400,
) !default;

$modal-themes: (
  dark: (
    background-color: $gray-500,
    font-color: $white,
  ),
  info: (
    background-color: $info-blue,
    font-color: $white,
  ),
  success: (
    background-color: $success-green,
    font-color: $white,
  ),
  error: (
    background-color: $error-red,
    font-color: $white,
  ),
  warning: (
    background-color: $warning-orange,
    font-color: $white,
  ),
) !default;

$text-themes: (
  black: $black,
  white: $white,
  gray: $gray-300,
  red: $red-100,
  orange: $orange-100,
  green: $green-100,
  blue: $blue-200,
  navy: $blue-400,
) !default;
