$colors: (
  true-black: #000,
  black: $black,
  white: $white,
  gray-000: $gray-000,
  gray-100: $gray-100,
  gray-200: $gray-200,
  gray-300: $gray-300,
  gray-400: $gray-400,
  gray-450: $gray-450,
  gray-500: $gray-500,
  red-100: $red-100,
  red-200: $red-200,
  orange-100: $orange-100,
  yellow-100: $yellow-100,
  yellow-200: $yellow-200,
  yellow-300: $yellow-300,
  green-100: $green-100,
  green-200: $green-200,
  green-300: $green-300,
  blue-000: $blue-000,
  blue-100: $blue-100,
  blue-200: $blue-200,
  blue-300: $blue-300,
  blue-400: $blue-400,
  blue-500: $blue-500,
  purple-100: $purple-100,
  purple-200: $purple-200,
  purple-300: $purple-300,
);

$alert-themes: (
  dark: $gray-500,
  info: $info-blue,
  success: $success-green,
  error: $error-red,
  warning: $warning-orange,
) !default;

$tooltip-themes: (
  'light-gray': darken($gray-100, 3%),
  info: $info-blue,
  success: $success-green,
  error: $error-red,
  warning: $warning-orange,
) !default;

$badge-themes: (
  'light-gray': $light-gray,
  'light-blue': $blue-000,
  info: $info-blue,
  success: $success-green,
  error: $error-red,
  warning: $warning-orange,
) !default;

$price-themes: (
  light-green: $green-100,
  green: $green-200,
  blue: $blue-200,
  red: $red-100,
);

$btn-themes: (
  primary: (
    background-color: $color-btn-primary,
    font-color: $white,
  ),
  secondary: (
    background-color: $color-btn-secondary,
    font-color: $white,
  ),
  tertiary: (
    background-color: $color-btn-tertiary,
    font-color: $white,
  ),
  warning: (
    background-color: $warning-orange,
    font-color: $white,
  ),
  white: (
    background-color: $white,
    font-color: $blue-400,
  ),
  hollow: (
    background-color: transparent,
    font-color: $blue-400,
  ),
  link: (
    background-color: transparent,
    font-color: $color-link,
    padding: 0,
  ),
) !default;

$bg-themes: (
  red: (
    background-color: $red-100,
    font-color: $white,
  ),
  orange: (
    background-color: $orange-100,
    font-color: $white,
  ),
  yellow: (
    background-color: $yellow-100,
  ),
  gold: (
    background-color: $yellow-200,
  ),
  green: (
    background-color: $green-200,
    font-color: $white,
  ),
  light-blue: (
    background-color: $blue-100,
  ),
  medium-blue: (
    background-color: $blue-200,
    font-color: $white,
  ),
  dark-blue: (
    background-color: $blue-300,
    font-color: $white,
  ),
  light-purple: (
    background-color: $purple-100,
  ),
  medium-purple: (
    background-color: $purple-200,
    font-color: $white,
  ),
  dark-purple: (
    background-color: $purple-300,
    font-color: $white,
  ),
  light-gray: (
    background-color: $gray-100,
  ),
  medium-gray: (
    background-color: $gray-300,
    font-color: $white,
  ),
  dark-gray: (
    background-color: $gray-400,
    font-color: $white,
  ),
  black: (
    background-color: $black,
    font-color: $white,
  ),
) !default;

$statistic-themes: (
  red: $red-100,
  orange: $orange-100,
  yellow: $yellow-100,
  gold: $yellow-200,
  green: $green-200,
  light-blue: $blue-100,
  medium-blue: $blue-200,
  dark-blue: $blue-300,
  light-gray: $gray-200,
  medium-gray: $gray-300,
  dark-gray: $gray-400,
) !default;

$modal-themes: (
  dark: (
    background-color: $gray-500,
    font-color: $white,
  ),
  info: (
    background-color: $info-blue,
    font-color: $white,
  ),
  success: (
    background-color: $success-green,
    font-color: $white,
  ),
  error: (
    background-color: $error-red,
    font-color: $white,
  ),
  warning: (
    background-color: $warning-orange,
    font-color: $white,
  ),
) !default;
