@function rem($values) {
  $rems: ();
  @each $value in $values {
    @if $value==0 or $value==auto {
      $rems: append($rems, $value);
    } @else {
      $rems: append($rems, ($value / $root-font-size) + rem);
    }
  }
  @return $rems;
}

@function pixel($values) {
  $pxs: ();

  @each $value in $values {
    @if $value == 0 or $value == auto {
      $pxs: append($pxs, $value);
    } @else {
      $pxs: append($pxs, $value + px);
    }
  }

  @return $pxs;
}
