// Form Vield border colors
$default-border-gray: $gray-200;
$dark-border-gray: $gray-400;

// Background colors
$default-background-lightest-gray: $gray-000;
$background-light-gray: $gray-100;
$disabled-background-gray: $gray-200;
$dark-background-gray: $gray-500;

// Focus state colors
$focus-blue-light: $blue-100;
$focus-blue-medium: $blue-200;
$focus-red: lighten($red-100, 20%);
$focus-orange: lighten($orange-100, 20%);

// State colors
$error-red: $red-100;
$warning-orange: $orange-100;
$info-blue: $blue-200;
$success-green: $green-100;

// Button colors
$color-btn-default: $blue-000;
$color-btn-primary: $blue-200;
$color-btn-secondary: $green-100;
$color-btn-tertiary: $red-100;

// Link colors
$color-link: $blue-200;
