.rcl-switch {
  align-items: center;
  display: flex;

  &__input {
    left: rem(-10000);
    position: absolute;
  }

  &__label {
    flex: 1;
  }

  &__toggle {
    background: $background-light-gray;
    border-radius: rem($switch-height);
    cursor: pointer;
    display: block;
    height: rem($switch-height);
    position: relative;
    transition: all 0.1s ease-in-out;
    width: rem(50);

    &::after {
      background: $white;
      border-radius: 50%;
      box-shadow: rem(-1 1 3) rgba(0, 0, 0, 0.35);
      content: '';
      display: block;
      height: rem($switch-height - 10);
      left: rem(5);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.2s ease-in-out;
      width: rem($switch-height - 10);
    }
  }

  &__input:focus ~ &__toggle {
    box-shadow: $formfield-focus;
  }

  &.is-stacked {
    display: block;

    & > .rcl-switch__toggle {
      margin-top: rem(3);
    }
  }

  &.is-checked {
    .rcl-switch__toggle {
      background: $blue-200;

      &::after {
        left: calc(100% - #{$switch-height}px + 5px);
      }
    }
  }

  &.has-error {
    & > .rcl-switch__toggle {
      background: $red-100;
    }

    & > &__input:focus ~ &__toggle {
      box-shadow: $formfield-error-focus;
    }
  }

  &.is-disabled,
  &.is-checked.is-disabled {
    & > .rcl-switch__toggle {
      background: $background-light-gray;
      cursor: default;

      &::after {
        background: $disabled-background-gray;
        box-shadow: none;
      }
    }
  }

  &--dark:not(.is-checked):not(.has-error) > .rcl-switch__toggle {
    background: $gray-400;
  }
}
