.switch {
  align-items: center;
  display: flex;

  &__input {
    display: none;
  }

  &__label {
    flex: 1;
  }

  &__toggle {
    background: $gray-100;
    border-radius: rem($input-height);
    cursor: pointer;
    display: block;
    height: rem($input-height);
    position: relative;
    transition: all .1s ease-in-out;
    width: rem(80);
    
    &:after {
      background: $white;
      border-radius: 50%;
      box-shadow: rem(-1 1 3) rgba(0,0,0,0.35);
      content: '';
      display: block;
      height: rem($input-height - 10);
      left: rem(5);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all .2s ease-in-out;
      width: rem($input-height - 10);
    }
  }

  &.is-stacked {
    display: block;

    & > .switch__toggle {
      margin-top: rem(3);
    }
  }

  &.is-checked {
    .switch__toggle {
      background: $blue-200;

      &:after {
        left: calc(100% - #{$input-height}px + 5px);
      }
    }
  }
}