.atomikui-range-slider {
  display: flex;
  margin: rem(18 0 42);
  position: relative;
  width: 100%;

  & > input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: $gray-100;
    border: 0;
    border-radius: rem(4);
    height: rem(4);
    margin: 0;
    padding: 0;
    position: relative;
    width: calc(100% - 1px);
    z-index: 3;
  }

  ::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $active-bg-color;
    border-radius: 50%;
    cursor: pointer;
    height: rem(28);
    width: rem(28);

    &:hover {
      box-shadow: rem(0 0 0 8) rgba(136, 204, 252, 0.2);
    }
  }

  ::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
    background-color: $active-bg-color;
    border-radius: 50%;
    cursor: pointer;
    height: rem(28);
    width: rem(28);

    &:hover {
      box-shadow: rem(0 0 0 8) rgba(136, 204, 252, 0.2);
    }
  }

  ::-ms-thumb {
    background-color: $active-bg-color;
    border-radius: 50%;
    cursor: pointer;
    height: rem(8);
    width: rem(8);

    &:hover {
      box-shadow: rem(0 0 0 8) rgba(136, 204, 252, 0.2);
    }
  }

  ::-webkit-runnable-track {
    -webkit-appearance: none;
    width: 0;
  }

  ::-moz-range-track {
    -moz-appearance: none;
    width: 0;
  }

  ::-ms-track {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
  }

  ::-ms-fill-upper {
    background: transparent;
  }

  ::-ms-fill-lower {
    background: $active-bg-color;
    border-color: $active-bg-color;
    border-width: rem(20 0);
    height: rem(20);
    margin-left: rem(-2);
  }

  ::-ms-tooltip {
    display: none;
  }

  &__ticks {
    display: flex;
    justify-content: space-between;
    left: 0;
    margin: 0 9px;
    position: absolute;
    right: 0;
    top: rem(-5);
    z-index: 2;

    .atomikui-range-slider__ticks__tick {
      background: $gray-100;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      display: inline-flex;
      height: rem(15);
      justify-content: center;
      position: relative;
      width: rem(15);

      &:focus {
        outline: 0;
      }
    }

    .atomikui-range-slider__ticks__label {
      font-size: rem(14);
      padding-top: rem(30);

      &.is-selected {
        color: $active-bg-color;
        font-weight: $font-semibold;
      }

      &.is-hidden-on-mobile {
        display: none;
      }
    }
  }

  &.is-disabled {
    input[type='range'] {
      &::-webkit-slider-thumb {
        background: $gray-300;
        box-shadow: none;
      }

      &::-moz-range-thumb {
        background: $gray-300;
        box-shadow: none;
      }

      &::-ms-thumb {
        background: $gray-300;
        box-shadow: none;
      }
    }

    input[type='range'],
    .atomikui-range-slider__ticks__tick {
      background: $background-light-gray;
      cursor: default;
    }

    .atomikui-range-slider__ticks__label {
      color: $gray-200;
    }
  }

  & > input[type='range']:focus {
    outline: 0;

    &::-webkit-slider-thumb {
      box-shadow: rem(0 0 0 8) rgba(136, 204, 252, 0.25);
    }

    &::-moz-slider-thumb {
      box-shadow: rem(0 0 0 8) rgba(136, 204, 252, 0.25);
    }

    &::-ms-slider-thumb {
      box-shadow: rem(0 0 0 8) rgba(136, 204, 252, 0.25);
    }
  }

  @media (min-width: $breakpoint-small) {
    &__ticks {
      .atomikui-range-slider__ticks__label {
        &.is-hidden-on-mobile {
          display: block;
        }
      }
    }
  }
}
