.rcl-range-slider {
  display: flex;
  margin: rem(18 0 42);
  position: relative;
  width: 100%;

  input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: $blue-000;
    border: 0;
    border-radius: rem(5);
    height: rem(5);
    margin: 0;
    padding: 0;
    position: relative;
    width: calc(100% - 1px);
    z-index: 3;

    &:focus {
      border-color: lighten($blue-200, 35%);
      outline: 0;

      &::-webkit-slider-thumb {
        background-color: darken($blue-200, 10%);
      }

      &::-moz-range-thumb {
        background-color: darken($blue-200, 10%);
      }

      &::-ms-thumb {
        background-color: darken($blue-200, 10%);
      }
    }
  }

  ::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $white;
    border: rem(11) solid $blue-200;
    border-radius: 50%;
    cursor: pointer;
    height: rem(32);
    width: rem(32);
  }

  ::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
    background-color: $white;
    border: rem(11) solid $blue-200;
    border-radius: 50%;
    cursor: pointer;
    height: rem(10);
    width: rem(10);
  }

  ::-ms-thumb {
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
    height: rem(8);
    width: rem(8);
  }

  ::-webkit-runnable-track {
    -webkit-appearance: none;
    width: 0;
  }

  ::-moz-range-track {
    -moz-appearance: none;
    width: 0;
  }

  ::-ms-track {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
  }

  ::-ms-fill-upper {
    background: transparent;
  }

  ::-ms-fill-lower {
    background: $blue-200;
    border-color: $blue-200;
    border-width: rem(20 0);
    height: rem(20);
    margin-left: rem(-2);
  }

  ::-ms-tooltip {
    display: none;
  }

  &__ticks {
    display: flex;
    justify-content: space-between;
    left: 0;
    margin: 0 9px;
    position: absolute;
    right: 0;
    top: rem(-5);
    z-index: 2;

    .rcl-range-slider__ticks__tick {
      background: $blue-000;
      border-radius: 50%;
      cursor: pointer;
      display: inline-flex;
      height: rem(15);
      justify-content: center;
      position: relative;
      width: rem(15);
    }

    .rcl-range-slider__ticks__label {
      font-size: rem(14);
      padding-top: rem(30);

      &.is-selected {
        color: $blue-200;
        font-weight: $font-semibold;
      }

      &.is-hidden-on-mobile {
        display: none;
      }
    }
  }

  &.is-disabled {
    input[type='range'],
    .rcl-range-slider__ticks__tick {
      background: $gray-100;
      cursor: default;
    }

    .rcl-range-slider__ticks__label {
      color: $gray-200;
    }

    ::-webkit-slider-thumb {
      border-color: $gray-200;
    }

    ::-moz-range-thumb {
      border-color: $gray-200;
    }

    ::-ms-thumb {
      border-color: $gray-200;
    }
  }

  &.rcl-range-slider--dark {
    & > input[type='range'] {
      background: $gray-400;
    }

    .rcl-range-slider__ticks {
      &__tick {
        background: $gray-400;
      }

      &__label {
        color: $white;

        &.is-selected {
          color: $blue-100;
        }
      }
    }
  }

  &.rcl-range-slider--dark.is-disabled {
    .rcl-range-slider__ticks {
      &__tick {
        background: $gray-400;
      }

      &__label {
        color: $gray-200;

        &.is-selected {
          color: $white;
        }
      }
    }
  }

  @media (min-width: $breakpoint-small) {
    &__ticks {
      .rcl-range-slider__ticks__label {
        &.is-hidden-on-mobile {
          display: block;
        }
      }
    }
  }
}
