body {
  font-size: rem(16);
  line-height: 1.6;
}

main {
  padding-top: rem(72);
}

header {
  position: fixed;
  width: 100%;
}

footer {
  & > svg {
    margin-bottom: rem(4);
  }
}

.main-content {
  margin: 0 auto;
  max-width: rem($site-width);
  padding: rem(16 8);

  @media (min-width: $breakpoint-medium) {
    padding: rem(40 20);
  }
}

.link {
  font-size: rem(15);
  font-weight: $font-semibold;
  text-transform: uppercase;
}

.status-badges {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: rem(16);

  & > * + * {
    margin-left: rem(8);
  }

  & > * {
    margin-bottom: rem(8);
  }
}

.sitemap {
  &:not(:last-of-type) {
    border-bottom: rem(1) solid $blue-gray-100;
    margin-bottom: rem(32);
  }

  &__list {
    column-count: 2;
  }

  @media (min-width: $breakpoint-medium) {
    &__list {
      column-count: 3;
    }
  }
}

// Overrides prismjs `pre` styles
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #1b282e !important;
}
