body {
  font-size: rem(16);
  line-height: 1.6;
}

header {
  position: fixed;
  width: 100%;
}

footer {
  & > svg {
    margin-bottom: rem(4);
  }
}

h1 {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &.has-bottom-border {
    border-bottom: rem(1) solid $blue-gray-100;
    padding-bottom: rem(8);
  }
}

.atomikui-header {
  height: auto;
  padding: rem(0 16);
  height: rem(60);

  ul {
    & > * {
      a {
        text-transform: capitalize;
      }
    }
  }
}

.main-content {
  margin: 0 auto;
  max-width: rem($site-width);
  padding: rem(16 8);

  @media (min-width: $breakpoint-medium) {
    padding: rem(40 20 20);
  }
}

.link {
  font-weight: $font-semibold;
}

.sitemap {
  padding: rem(16);

  &__list {
    column-count: 2;

    & > * {
      break-inside: avoid-column;
    }
  }

  @media (min-width: $breakpoint-medium) {
    &__list {
      column-count: 3;
    }
  }
}

// Overrides prismjs `pre` styles
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #1b282e !important;
}
