.atomikui-spinner {
  height: rem(32);
  width: rem(32);

  &--sm {
    height: rem(16);
    width: rem(16);
  }

  &--md {
    height: rem(24);
    width: rem(24);
  }

  &--lg {
    height: rem(40);
    width: rem(40);
  }

  &--xlg {
    height: rem(48);
    width: rem(48);
  }

  svg {
    & > circle {
      stroke: $blue-gray-800;
    }
  }

  @each $name, $color in $background-dark-colors {
    &--#{$name} {
      svg {
        & > circle {
          stroke: $color;
        }
      }
    }
  }

  @each $name, $color in $background-light-colors {
    &--#{$name}-light {
      svg {
        & > circle {
          stroke: $color;
        }
      }
    }
  }
}
