div.react-calendar {
  background: $gray-500;
  border: rem(1) solid $gray-400;
  border-radius: rem($border-radius);
  box-shadow: rem(0 0 40) rgba(0, 0, 0, 0.75);

  .react-calendar__tile,
  .react-calendar__navigation__label,
  .react-calendar__navigation__arrow {
    color: $white;
  }

  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus,
  .react-calendar__tile:not(.react-calendar__tile--active):not(.react-calendar__tile--now):enabled:hover,
  .react-calendar__tile:not(.react-calendar__tile--active):not(.react-calendar__tile--now):enabled:focus {
    background: $gray-450;
  }

  .react-calendar__month-view__days__day--weekend {
    color: $orange-100;
  }

  .react-calendar__tile--now,
  .react-calendar__tile--active.react-calendar__tile--now {
    background: $blue-100;
    color: $black;
  }

  .react-calendar__tile--now:hover {
    background: darken($blue-100, 7%);
  }
}
