.atomikui-comment {
  align-items: flex-start;
  display: flex;

  &__avatar {
    flex: 0 rem(50);
  }

  &__title {
    display: inline-block;
    color: $black;
    font-weight: $font-bold;

    & > a {
      color: $black;
    }
  }

  &__metadata {
    color: $gray-300;
    display: inline-block;
    margin-left: rem(12);
  }

  &__text {
    padding: rem(4 0);
  }

  &__replies > * {
    margin-top: rem(16);
  }
}
