.rcl-file-upload {
  & > input {
    left: rem(-10000);
    position: absolute;
  }

  & > input:focus + &__input {
    box-shadow: $formfield-focus;
  }

  &__wrapper {
    align-items: center;
    background: $white;
    border: rem(1) solid $gray-200;
    border-radius: rem($border-radius);
    display: flex;
    overflow: hidden;

    & > * + * {
      margin-left: rem(16);
    }

    & > :last-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--drag-and-drop {
      border: rem(2) dashed $gray-200;
      border-radius: rem($border-radius);
      display: flex;
      flex-direction: column;
      padding: rem(40 16);
      text-align: center;
      transition: all 0.2s ease-in-out;
      width: 100%;

      & > * + * {
        margin: rem(16 0 0);
      }

      & > :last-child {
        overflow: visible;
        white-space: normal;
      }

      &:hover {
        border-color: $blue-200;
      }
    }
  }

  &__drag-drop-label {
    font-weight: $font-bold;
  }

  &__file-list {
    & > * {
      background: $white;
      border: rem(1) solid darken($blue-100, 7%);
      border-radius: rem(4);
      display: inline-block;
      margin-bottom: rem(8);
      padding: rem(3 8);
    }

    & > * + * {
      margin-left: rem(8);
    }
  }

  &--dark {
    & > .rcl-file-upload__wrapper {
      background: $gray-500;
      border-color: $gray-400;
      color: $white;

      &--drag-and-drop {
        &:hover {
          border-color: $blue-100;
        }
      }

      & > .rcl-file-upload__file-list {
        & > * {
          background: lighten($gray-500, 12%);
          border-color: $gray-400;
        }
      }
    }
  }
}
