.atomikui-chat-message {
  &__item {
    display: flex;
  }

  &__item__timestamp {
    color: $timestamp-color;
    font-size: rem(12);
    margin-bottom: rem(4);
  }

  &__item__text {
    background: $gray-300;
    border-radius: rem(8);
    color: $black;
    font-size: rem(14);
    line-height: 1.2;
    max-width: 65%;
    padding: rem(8);
    position: relative;
    z-index: 200;

    &::after {
      border-left: rem(5) solid transparent;
      border-right: rem(5) solid transparent;
      border-top: rem(12) solid $white;
      bottom: rem(-6);
      content: '';
      display: block;
      height: 0;
      left: rem(-6);
      position: absolute;
      transform: rotate(45deg);
      width: 0;
      z-index: 100;
    }
  }

  &.is-outgoing {
    .atomikui-chat-message__item {
      justify-content: flex-end;
    }

    .atomikui-chat-message__item__timestamp {
      text-align: right;
    }

    .atomikui-chat-message__item__text {
      background: $sky-blue-800;
      color: $white;

      &::after {
        border-top-color: $sky-blue-800;
        left: auto;
        right: rem(-6);
        transform: rotate(-45deg);
      }
    }
  }
}
