.rcl-card {
  background: $gray-100;
  border-radius: rem($base-border-radius);

  &__header {
    font-size: rem(24);
    font-weight: $font-semibold;
    line-height: 1.3;
    padding: rem(16 16 0);
  }

  &__body {
    padding: rem(16);
  }

  &__footer {
    padding: rem(0 16 16);
  }

  // Override default hollow button styles
  .rcl-btn--hollow:hover,
  .rcl-btn--hollow:focus {
    background: darken($gray-100, 8%);
  }

  &--dark {
    background: $dark-background-gray;
    color: $white;

    // Override default anchor styles
    a,
    a:hover {
      color: $blue-100;
    }

    a:hover {
      text-decoration: underline;
    }

    // Override default hollow button styles
    .rcl-btn--hollow:hover,
    .rcl-btn--hollow:focus {
      background: lighten($gray-500, 9%);
    }
  }
}
