.atomikui-card {
  background: $default-background-lightest-gray;
  border-radius: rem($default-border-radius);

  &__header {
    font-size: rem(24);
    font-weight: $font-semibold;
    line-height: 1.3;
    padding: rem(16 16 0);
  }

  &__body {
    padding: rem(16);
  }

  &__footer {
    padding: rem(0 16 16);
  }
}
