$card-border: darken($gray-100, 8%);

.rcl-card {
  border: rem(1) solid $card-border;
  border-radius: rem($base-border-radius);

  &__header {
    font-size: rem(24);
    font-weight: $font-semibold;
    line-height: 1.3;
    padding: rem(16 16 0);
  }

  &__body {
    padding: rem(16);
  }

  &__footer {
    padding: rem(0 16 16);
  }
}
