body {
  font-family: $base-font-family;
  font-size: $root-font-size;
  font-weight: $font-normal;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  font-size: rem(24);
  font-weight: $font-semibold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

*:-webkit-autofill,
*:-webkit-autofill:hover,
*:-webkit-autofill:focus,
*:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
  box-shadow: 0 0 0 1000px $white inset;
  -webkit-box-shadow: 0 0 0 1000px $white inset;
  -webkit-text-fill-color: $white;
}
