.atomikui-alert {
  align-items: top;
  background: $blue-100;
  border-radius: rem($border-radius);
  color: $black;
  display: flex;
  font-size: rem($root-font-size);
  font-weight: $font-medium;
  justify-content: space-between;
  padding: rem(16);
  width: 100%;

  &__body {
    flex: 1;
    padding: rem(0 16);
  }

  .atomikui-btn.atomikui-alert__btn {
    border: 0;
    cursor: pointer;
    height: rem(24);
    margin-left: rem(16);
    min-height: auto;
    padding: 0;
    transition: background-color 0.3s ease-in-out;
    width: rem(24);

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &--middle {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }

  @each $name, $color in $informational-colors {
    &--#{$name} {
      background-color: $color;
      border: 0;
      color: $white;

      @if $name == success or $name == warning {
        color: $black;
      }
    }
  }
}
