.rcl-alert {
  align-items: top;
  background: $gray-500;
  color: $white;
  display: flex;
  font-size: rem($root-font-size);
  font-weight: $font-medium;
  justify-content: space-between;
  padding: rem(16);

  &__body {
    flex: 1;
    padding: rem(0 16);
  }

  .rcl-btn.rcl-alert__btn {
    border: 0;
    cursor: pointer;
    height: rem(24);
    margin-left: rem(16);
    min-height: auto;
    padding: 0;
    transition: background-color 0.3s ease-in-out;
    width: rem(24);

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  @each $name, $color in $alert-variants {
    &--#{$name} {
      background-color: $color;
    }
  }
}
