.atomikui-modal {
  background-color: $white;
  box-shadow: rem(0 0 70) rgba(0, 0, 0, 0.25);
  color: $black;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: rem(16);
  max-height: calc(100% - 32px);
  position: relative;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: rem(16);
  }

  &__footer {
    padding: rem(16);
  }

  &__title {
    font-size: rem(22);
    font-weight: $font-medium;
    text-transform: uppercase;
  }

  &__close-button {
    background: transparent;
    border: 0;
    border-radius: rem($border-radius);
    cursor: pointer;
    height: rem(32);
    outline: 0;
    padding: 0;
    transition: background 0.3s ease-in-out;
    width: rem(32);

    &:hover {
      background: $gray-100;
    }

    & > svg {
      height: rem(20);
      width: rem(20);

      & > path {
        fill: $black;
      }
    }

    &:focus {
      @include focus-outline();
    }
  }

  &__body {
    flex: 1;
    overflow: auto;
    padding: rem(16);
  }

  @each $name, $color in $informational-colors {
    &--#{$name} {
      background-color: $color;

      @if $name == dark or $name == error or $name == info {
        color: $white;
      }

      .atomikui-modal__header,
      .atomikui-modal__footer {
        border-color: rgba(255, 255, 255, 0.4);
      }

      .atomikui-modal__close-button {
        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }

        & > svg > path {
          fill: $white;
        }
      }
    }
  }

  @media (min-width: $breakpoint-medium) {
    height: auto;
    margin: 0;
    max-height: 80%;
    max-width: 70%;
  }
}
