.modal {
  background-color: $white;
  box-shadow: rem(0 0 70) rgba(0, 0, 0, 0.25);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  position: relative;

  &__header {
    align-items: center;
    border-bottom: rem(1) solid $gray-100;
    display: flex;
    justify-content: space-between;
    padding: rem(16);
  }

  &__footer {
    border-top: rem(1) solid $gray-100;
    padding: rem(16);
  }

  &__title {
    font-size: rem(22);
    font-weight: $font-medium;
    text-transform: uppercase;
  }

  &__close-button {
    background: transparent;
    border: 0;
    border-radius: rem(3);
    cursor: pointer;
    height: rem(32);
    outline: 0;
    padding: 0;
    transition: background 0.3s ease-in-out;
    width: rem(32);

    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }

    & > svg {
      height: rem(20);
      width: rem(20);

      & > path {
        fill: $black;
      }
    }

    &:focus {
      @include focus-outline();
    }
  }

  &__body {
    flex: 1;
    overflow: auto;
    padding: rem(16);
  }

  @each $theme-name, $map in $modal-variants {
    &--#{$theme-name} {
      background-color: map-get($map, background-color);
      color: map-get($map, font-color);

      .modal__header,
      .modal__footer {
        border-color: rgba(255, 255, 255, 0.4);
      }

      .modal__close-button {
        & > svg > path {
          fill: $white;

          &:focus,
          &:active {
            border: 3px solid yellow;
            fill: $white;
          }
        }
      }
    }
  }

  &.is-contextual {
    min-height: 100%;
    max-width: rem(480);
    position: relative;
    left: 100%;
    transition: left 0.3s ease-in-out;
  }

  &.is-open.is-contextual {
    left: 0;
  }

  @media (min-width: $breakpoint-medium) {
    height: auto;
    max-height: 80%;
    max-width: 70%;

    &.is-contextual {
      max-width: rem(480);
    }
  }
}
