@mixin actionButtonsActiveState {
  max-height: rem(320);
  max-width: rem(320);
  transition-delay: 0s;

  & > * {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
  }
}

.atomikui-quick-actions {
  align-items: center;
  display: inline-flex;

  &__toggle {
    background: $blue-200;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: rem(56);
    margin: rem(0 6 0 0);
    padding: 0;
    transition: all 0.15s linear;
    width: rem(56);

    &:active,
    &:focus,
    &:hover {
      background: darken($blue-200, 10%);
      outline: 0;
    }
  }

  &__action-btns {
    align-items: center;
    display: inline-flex;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    padding: 0;
    transform: all 0.15s linear;
    transition-delay: 0.3s;

    & > * {
      border-radius: 50%;
      height: rem(40);
      opacity: 0;
      margin: rem(6);
      padding: 0;
      pointer-events: none;
      transform: scale(0);
      transition: all 0.1s linear;
      width: rem(42);

      &:nth-child(2) {
        transition-delay: 0.1s;
      }

      &:nth-child(3) {
        transition-delay: 0.15s;
      }

      &:nth-child(4) {
        transition-delay: 0.2s;
      }

      &:nth-child(5) {
        transition-delay: 0.25s;
      }

      &:nth-child(6) {
        transition-delay: 0.3s;
      }
    }
  }

  &--left {
    flex-direction: row-reverse;

    & > .atomikui-quick-actions__toggle {
      margin: rem(0 0 0 6);
    }

    & > .atomikui-quick-actions__action-btns {
      flex-direction: row-reverse;
    }
  }

  &--top {
    flex-direction: column-reverse;

    & > .atomikui-quick-actions__toggle {
      margin: rem(6 0 0);
    }

    & > .atomikui-quick-actions__action-btns {
      flex-direction: column-reverse;
    }
  }

  &--bottom {
    flex-direction: column;

    & > .atomikui-quick-actions__toggle {
      margin: rem(0 0 5);
    }

    & > .atomikui-quick-actions__action-btns {
      flex-direction: column;
    }
  }

  &.is-desktop:hover {
    & > .atomikui-quick-actions__toggle {
      transform: rotate(45deg);
    }

    & > .atomikui-quick-actions__action-btns {
      @include actionButtonsActiveState();
    }
  }

  &.is-mobile {
    & > .atomikui-quick-actions__toggle:focus {
      transform: rotate(45deg);

      & ~ .atomikui-quick-actions__action-btns {
        @include actionButtonsActiveState();
      }
    }
  }
}
