.atomikui-chat-window {
  background: $gray-500;
  border: rem(1) solid lighten($gray-500, 5%);

  &__header {
    background: $black;
  }

  &__input {
    background: $black;
    border-color: $black;
    color: $white;
  }

  &__close-btn {
    &:hover,
    &:focus {
      background: $gray-400;
    }
  }

  &__send-btn {
    background: $blue-100;
    border-color: $blue-100;
    color: $black;

    &:hover,
    &:focus {
      background: $gray-100;
    }

    &:disabled,
    &:disabled:hover {
      background: $gray-300;
      border-color: $gray-300;
      color: $gray-400;
    }
  }
}
