.atomikui-chat-window {
  background: $chat-window-bg;
  bottom: 0;
  box-shadow: rem(-10 10 20) rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.2s ease-in-out;
  z-index: 900;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  &__header {
    align-items: center;
    background: $chat-window-header-bg;
    color: $chat-window-header-text-color;
    display: flex;
    justify-content: space-between;
    padding: rem(12 16);
  }

  &__title {
    align-items: center;
    display: flex;
    text-transform: uppercase;
  }

  &__avatar {
    border: rem(1) solid $chat-window-header-avatar-border;
    border-radius: 50%;
    height: rem(40);
    margin-right: rem(8);
    width: rem(40);
  }

  &__avatar-icon {
    height: rem(40);
    margin-right: rem(8);
    width: rem(40);
  }

  &__sender-status {
    background: white;
    border-radius: 50%;
    height: rem(8);
    margin-left: rem(8);
    width: rem(8);

    &.atomikui-chat-window__sender-status--available {
      background: $chat-window-user-status-available;
    }

    &.atomikui-chat-window__sender-status--away {
      background: $chat-window-user-status-away;
    }

    &.atomikui-chat-window__sender-status--offline {
      background: $chat-window-user-status-offline;
    }
  }

  &__body {
    flex: 1;
    overflow: auto;
    padding: rem(16);

    & > * + * {
      margin-top: rem(16);
    }
  }

  &__footer {
    align-items: flex-end;
    display: flex;
    padding: rem(16);
  }

  &__input {
    border: 0;
    border-radius: rem(4);
    flex: 1;
    font-family: inherit;
    font-size: inherit;
    max-height: rem(125);
    min-height: rem($input-height);
    padding: rem(10);
    resize: none;

    &:focus {
      outline: 0;
      @include focus-outline();
    }
  }

  &__send-btn {
    background-color: $chat-window-send-btn;
    color: $chat-window-send-btn-text-color;
    border: 0;
    margin-left: rem(16);
    min-height: rem($input-height);
    padding: rem(0 16);

    &:disabled,
    &:disabled:hover {
      background: $gray-400;
      border-color: $gray-400;
      color: $gray-500;
    }
  }

  &__close-btn {
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: rem($border-radius);
    cursor: pointer;
    height: rem(32);
    line-height: 0;
    overflow: hidden;
    padding: 0;
    transition: background 0.2s linear;
    width: rem(32);

    &:hover,
    &:focus {
      background: $chat-window-close-btn;
    }

    &:focus {
      outline: 0;
      @include focus-outline();
    }
  }

  @media (min-width: $breakpoint-small) {
    border-radius: rem($border-radius);
    overflow: hidden;
    width: rem(450);

    &__body {
      flex: rem(300 0 0);
    }

    &--top-right {
      bottom: auto;
      left: auto;
      right: rem(16);
      top: rem(16);
    }

    &--top-left {
      bottom: auto;
      left: auto;
      left: rem(16);
      top: rem(16);
    }

    &--bottom-right {
      bottom: rem(16);
      left: auto;
      right: rem(16);
      top: auto;
    }

    &--bottom-left {
      bottom: rem(16);
      left: rem(16);
      right: auto;
      top: auto;
    }
  }
}
