.atomikui-hint {
  color: $hint-color;
  font-size: rem(13);

  &--error {
    color: $hint-color-error;
  }

  &--success {
    color: $hint-color-success;
  }

  &--info {
    color: $hint-color-info;
  }
}
