.atomikui-statistic {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  text-align: center;

  &__hd {
    display: flex;
    margin-bottom: rem(4);
  }

  &__icon {
    margin-right: rem(8);
  }

  &__value {
    font-size: rem(32);
    font-weight: $font-medium;
    line-height: 1;
    text-transform: uppercase;

    @each $color, $value in $statistic-variants {
      &.atomikui-statistic__value--#{$color} {
        color: $value;
      }
    }

    &--sm {
      font-size: rem(18);
    }

    &--md {
      font-size: rem(22);
    }

    &--lg {
      font-size: rem(28);
    }

    &.atomikui-statistic__value--number {
      font-size: rem(56);
      white-space: nowrap;

      &.atomikui-statistic__value--sm {
        font-size: rem(24);
      }

      &.atomikui-statistic__value--md {
        font-size: rem(32);
      }

      &.atomikui-statistic__value--lg {
        font-size: rem(48);
      }
    }
  }

  &__ft {
    font-size: rem(14);
    font-weight: $font-medium;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &--horizontal {
    align-items: center;
    flex-direction: row;

    .atomikui-statistic__hd {
      margin: 0;
    }

    .atomikui-statistic__ft {
      margin-left: rem(8);
    }
  }

  &--top-label {
    flex-direction: column-reverse;

    & > .atomikui-statistic__hd {
      margin: 0;
    }
  }
}
