.atomikui-statistic {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  text-align: center;

  &__hd {
    display: flex;
    margin-bottom: rem(4);
  }

  &__icon {
    margin-right: rem(8);
  }

  &__value {
    font-size: rem(32);
    font-weight: $font-medium;
    line-height: 1;
    text-transform: uppercase;

    &--sm {
      font-size: rem(18);
    }

    &--md {
      font-size: rem(22);
    }

    &--lg {
      font-size: rem(28);
    }

    &.atomikui-statistic__value--number {
      font-size: rem(56);
      white-space: nowrap;

      &.atomikui-statistic__value--sm {
        font-size: rem(24);
      }

      &.atomikui-statistic__value--md {
        font-size: rem(32);
      }

      &.atomikui-statistic__value--lg {
        font-size: rem(48);
      }
    }
  }

  &__ft {
    font-size: rem(14);
    font-weight: $font-medium;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &--horizontal {
    align-items: center;
    flex-direction: row;

    .atomikui-statistic__hd {
      margin: 0;
    }

    .atomikui-statistic__ft {
      margin-left: rem(8);
    }
  }

  &--top-label {
    flex-direction: column-reverse;

    & > .atomikui-statistic__hd {
      margin: 0;
    }
  }

  @each $name, $color in $background-dark-colors {
    &--#{$name} {
      .atomikui-statistic__value {
        color: $color;
      }

      @if $name ==
        light-green or
        $name ==
        lime or
        $name ==
        yellow or
        $name ==
        light-orange or
        $name ==
        amber
      {
        .atomikui-statistic__ft {
          color: $white;
        }
      }
    }
  }

  @each $name, $color in $background-light-colors {
    &--#{$name}-light {
      .atomikui-statistic__value {
        color: $color;
      }

      .atomikui-statistic__ft {
        color: $white;
      }
    }
  }
}
