.atomikui-drawer {
  background: $white;
  position: fixed;
  transition: all 0.3s ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
  z-index: 1000;

  &__close-btn {
    position: absolute;
    top: rem(8);
    left: calc(100% + 8px);
    display: none;
    width: rem(36);
    height: rem(36);
    border-radius: 50%;
    padding: 0;
    background: $blue-gray-900;

    &:hover,
    &:focus {
      background: $black;
    }
  }

  &.is-open {
    & > .atomikui-drawer__close-btn {
      display: block;
    }
  }

  &--left {
    bottom: 0;
    top: 0;
  }

  &--right {
    bottom: 0;
    top: 0;
  }

  &--top {
    bottom: auto;
    left: 0;
    right: 0;
    width: auto;
  }

  &--bottom {
    left: 0;
    right: 0;
    top: auto;
    width: auto;
  }

  &--top,
  &--bottom {
    max-height: 50%;
    overflow: auto;
  }

  &--right,
  &--left {
    width: rem(250);
  }
}
