.rcl-drawer {
  background: $white;
  position: fixed;
  transition: all 0.3s ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
  z-index: 1000;

  &--left {
    bottom: 0;
    top: 0;
  }

  &--right {
    bottom: 0;
    top: 0;
  }

  &--top {
    bottom: auto;
    left: 0;
    right: 0;
    width: auto;
  }

  &--bottom {
    left: 0;
    right: 0;
    top: auto;
    width: auto;
  }

  &--right,
  &--left {
    width: rem(250);
  }
}
