.atomikui-carousel {
  position: relative;

  &__viewport {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    overflow: auto;

    & > * {
      height: 100%;
    }
  }

  &__panel {
    position: relative;
  }

  &__caption {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: $white;
    padding: rem(8);
    position: absolute;
    text-align: center;
    width: 100%;
  }

  &__controls {
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    & > * {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:hover,
      &:focus {
        background: none;
      }
    }

    &__prev-btn {
      left: 0;
    }

    &__next-btn {
      right: 0;
    }
  }
}
