.atomikui-gallery {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;

  & > .is-featured {
    height: rem(300);
    min-width: 100%;
  }

  & > * {
    background: $blue-gray-100;
    border: 1px solid white;
    cursor: pointer;
    flex: 33.333% 0 0;
    height: rem(100);
  }

  @media (min-width: $breakpoint-medium) {
    & > * {
      flex: 25% 0 0;
    }
  }
}

.atomikui-gallery-overlay {
  flex-direction: column;

  &__modal {
    background: $white;
    padding: rem(10);
    position: relative;
    width: 90%;

    & > img {
      display: block;
      width: 100%;
    }

    @media (min-width: $breakpoint-medium) {
      width: 65%;
    }
  }

  &__modal__header {
    align-items: center;
    display: flex;
    font-size: rem(18);
    font-weight: $font-medium;
    justify-content: space-between;
    padding-bottom: rem(8);

    & > button {
      align-items: center;
      border-radius: 0;
      display: flex;
      height: rem(38);
      justify-content: center;
      width: rem(38);
    }
  }
}
