.atomikui-jumbotron {
  background: $gray-100;
  padding: rem(32);

  @each $name, $color in $background-dark-colors {
    &--#{$name} {
      background-color: $color;
      color: $white;

      @include altFontColor($name);
    }
  }

  @each $name, $color in $background-light-colors {
    &--#{$name}-light {
      background-color: $color;
      color: $black;
    }
  }

  @media (min-width: $breakpoint-medium) {
    padding: rem(72 32);
  }
}
