.atomikui-time-picker {
  background-color: $background-light-gray;
  display: inline-block;
  border: rem(1) solid transparent;

  & > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $background-light-gray;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    height: rem($input-height);
    outline: 0;
    padding: rem(0 8);
    position: relative;
    width: rem(38);
    z-index: 10;

    &:focus {
      @include focus-outline();
    }
  }

  & > :last-child {
    width: rem(45);
  }

  &.has-error {
    border-color: $formfield-border-error;

    & > select {
      &:focus {
        box-shadow: rem(0 0 0 2) $focus-red;
      }
    }
  }
}
