.atomikui-cart__item {
  display: flex;
  flex-wrap: wrap;
  font-size: rem(14);
  justify-content: space-between;
  line-height: 1.2;
  padding: rem(16 0);
  width: 100%;

  & > * + * {
    margin-left: rem(16);
  }

  &__bd {
    flex: 1;
  }

  &__image {
    width: rem(60);
  }

  &__quantity {
    display: flex;
    flex-wrap: nowrap;

    & > * + * {
      margin-left: rem(8);
    }
  }

  &__dropdown {
    align-items: center;
    display: flex;

    select {
      width: rem(85);
    }

    label {
      font-size: rem(14);
      margin-right: rem(8);
    }
  }

  &__delete-btn {
    color: $color-link;
    padding-left: rem(16);
    padding-right: rem(16);
  }

  &__info {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & > * {
      flex: 1;
    }

    & > *:not(:last-child) {
      margin-right: rem(16);
    }
  }

  &__description {
    flex: 1;
    font-weight: $font-semibold;
    margin-bottom: rem(16);
    min-width: 100%;
    text-align: left;
  }

  &__label {
    font-weight: $font-semibold;
    margin-bottom: rem(4);
  }

  &__value {
    line-height: rem(32);
  }

  &__price {
    margin-top: rem(16);
  }

  @media (min-width: 423px) {
    &__price {
      margin-top: 0;
    }
  }

  @media (min-width: $breakpoint-medium) {
    font-size: inherit;

    &__info {
      & > * + * {
        margin-left: rem(24);
      }
    }

    &__description {
      flex: 0 40%;
      margin-bottom: 0;
      min-width: auto;
    }
  }
}
