.atomikui-credit-card-field {
  legend {
    margin-bottom: rem(3);
  }

  &__fields {
    align-items: center;
    background: $white;
    border: rem(1) solid $gray-200;
    border-radius: rem($border-radius);
    display: flex;
    position: relative;

    label {
      position: absolute;
      left: rem(-10000);
    }

    & > :first-child {
      flex: rem(0 0 40);
    }

    & > * {
      margin-right: rem(4);
    }

    & > svg {
      margin: rem(0 8);
    }
  }

  &__last-four-digits {
    line-height: rem($input-height + 1);
  }

  &.has-error {
    & > .atomikui-credit-card-field__fields {
      border-color: $error-red;

      & > * {
        margin-right: rem(8);
      }
    }
  }
}
