.atomikui-credit-card-field {
  legend {
    margin-bottom: rem(3);
  }

  &__fields {
    align-items: center;
    border: rem(1) solid $gray-200;
    border-radius: rem($border-radius);
    display: inline-flex;
    position: relative;

    & > svg {
      margin: rem(0 8);
    }
  }

  &.has-error {
    & > .atomikui-credit-card-field__fields {
      border-color: $error-red;
    }
  }
}
