.rcl-media {
  display: flex;

  & > * + * {
    margin: rem(0 0 0 16);
  }

  &__bd {
    flex: 1;
  }

  &--reverse {
    flex-direction: row-reverse;

    & > * + * {
      margin: rem(0 16 0 0);
    }
  }

  &--inline {
    display: inline-flex;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--middle {
    align-items: center;
  }
}
