.media {
  display: flex;

  & > * + * {
    margin-left: rem(16);
  }

  &__bd {
    flex: 1;
  }

  &--inline {
    display: inline-flex;
  }

  &--align-bottom {
    align-items: flex-end;
  }

  &--align-middle {
    align-items: center;
  }
}
