$background-dark-colors: (
  red: $red-800,
  pink: $pink-600,
  purple: $purple-600,
  deep-purple: $deep-purple-700,
  indigo: $indigo-600,
  blue: $blue-800,
  sky-blue: $sky-blue-900,
  cyan: $cyan-800,
  teal: $teal-700,
  green: $green-800,
  light-green: $light-green-600,
  pickle: $pickle-700,
  yellow: $yellow-700,
  light-orange: $yellow-800,
  orange: $orange-800,
  deep-orange: $deep-orange-900,
  amber: $amber-900,
  brown: $brown-600,
  gray: $gray-800,
  blue-gray: $blue-gray-800,
  black: $black,
);

$background-light-colors: (
  red: $red-50,
  pink: $pink-100,
  purple: $purple-100,
  deep-purple: $deep-purple-100,
  indigo: $indigo-100,
  blue: $blue-100,
  sky-blue: $sky-blue-100,
  cyan: $cyan-100,
  teal: $teal-100,
  green: $green-100,
  light-green: $light-green-100,
  pickle: $pickle-100,
  yellow: $yellow-100,
  light-orange: $yellow-100,
  orange: $orange-50,
  deep-orange: $deep-orange-100,
  amber: $amber-100,
  brown: $brown-100,
  gray: $gray-100,
  blue-gray: $blue-gray-100,
  white: $white,
);

$border-colors: (
  default: $gray-400,
  error: $red-800,
) !default;

$focus-colors: (
  error: $red-800,
  blue: $sky-blue-700,
  sky-blue: $sky-blue-200,
) !default;

$link-colors: (
  default: $sky-blue-900,
) !default;

$informational-colors: (
  dark: $gray-800,
  info: $sky-blue-800,
  warning: $amber-800,
  error: $red-800,
  success: $light-green-500,
) !default;

$price-colors: (
  light-green: $light-green-700,
  green: $light-green-900,
  info: $sky-blue-700,
  error: $red-800,
) !default;

$statistic-colors: () !default;

$tooltip-themes: (
  'light-gray': darken($gray-100, 3%),
  info: $info-blue,
  success: $success-green,
  error: $error-red,
  warning: $warning-orange,
) !default;

$price-themes: (
  light-green: $green-100,
  green: $green-200,
  blue: $blue-200,
  red: $red-100,
);

$statistic-themes: (
  red: $red-100,
  orange: $orange-100,
  yellow: $yellow-100,
  gold: $yellow-200,
  green: $green-200,
  light-blue: $blue-100,
  medium-blue: $blue-200,
  dark-blue: $blue-300,
  light-gray: $gray-200,
  medium-gray: $gray-300,
  dark-gray: $gray-400,
) !default;

$modal-themes: (
  dark: (
    background-color: $gray-500,
    font-color: $white,
  ),
  info: (
    background-color: $info-blue,
    font-color: $white,
  ),
  success: (
    background-color: $success-green,
    font-color: $white,
  ),
  error: (
    background-color: $error-red,
    font-color: $white,
  ),
  warning: (
    background-color: $warning-orange,
    font-color: $white,
  ),
) !default;
