// Form Vield border colors
$default-border-gray: $gray-200;
$dark-border-gray: $gray-400;

// Background colors
$default-background-lightest-gray: $gray-100;
$background-light-gray: $gray-100;
$disabled-background-gray: $gray-200;
$dark-background-gray: $gray-500;

// Focus state colors
$focus-blue-light: $blue-100;
$focus-blue-medium: $blue-200;
$focus-red: $red-800;
$focus-orange: lighten($orange-100, 20%);

// DEPRECATED: State colors
$error-red: $red-800;
$warning-orange: $orange-900;
$info-blue: $sky-blue-800;
$success-green: $light-green-900;

// Button colors
$color-btn-default: $sky-blue-50;
$color-btn-default-hover: darken($sky-blue-50, 5%);

// Link colors
$color-link: $blue-900;

// hint colors
$hint-color: $gray-700;
$hint-color-error: $error-red;
$hint-color-info: $info-blue;
$hint-color-warning: $warning-orange;
$hint-color-success: $success-green;
