.atomikui-search {
  background-color: $background-light-gray;
  border-radius: rem($border-radius);
  display: flex;
  width: 100%;

  & > :first-child {
    flex: 1;
  }

  input {
    background: transparent;
  }

  button {
    background: transparent;

    &:hover,
    &:focus {
      background: darken($background-light-gray, 5%);
    }
  }

  &--pill {
    border-radius: rem($input-height);

    button {
      border-radius: rem(0 $input-height $input-height 0);
    }

    input {
      border-radius: rem($input-height 0 0 $input-height);
    }
  }

  &--square {
    border-radius: 0;

    button,
    input {
      border-radius: 0;
    }
  }
}
