.atomikui-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 900;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;

  &.is-active,
  &.is-active > * {
    opacity: 1;
    pointer-events: all;
  }

  &--blue {
    background-color: rgba(2, 122, 191, 0.5);
  }

  &--white {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &--transparent {
    background-color: transparent;
  }

  &--align-right {
    justify-content: flex-end;
  }

  &--align-left {
    justify-content: flex-start;
  }
}
