.rcl-date-picker {
  &__label {
    margin-bottom: rem(3);
  }

  &__input {
    position: relative;

    & > input {
      padding-right: rem($input-height);
    }
  }

  &__input__btn {
    cursor: pointer;
    height: rem($input-height);
    padding: rem(8);
    position: absolute;
    right: 0;
    top: 0;
    width: rem($input-height);

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}
