.toaster {
  max-height: 100vh;
  overflow: hidden;
  overflow: auto;
  padding: rem(16);
  position: fixed;
  right: rem(0);
  scroll-behavior: smooth;
  top: rem(0);
  width: 100%;
  z-index: 900;

  & > * + * {
    margin-top: rem(8);
  }

  &__toast {
    font-size: rem(14);

    &:last-of-type {
      animation: fadeIn 0.5s forwards;
      animation-delay: 0.1s;
      opacity: 0;
    }
  }

  &--top-left {
    left: 0;
    right: auto;
    top: 0;
  }

  &--bottom-right {
    bottom: 0;
    top: auto;
  }

  &--bottom-left {
    bottom: 0;
    left: 0;
    top: auto;
  }

  &--bottom-center {
    bottom: 0;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
  }

  &--top-center {
    left: 50%;
    transform: translateX(-50%);
  }

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }

  @media (min-width: $breakpoint-medium) {
    width: rem(350);
  }
}
