$cell-border-color: darken($background-light-gray, 5%);
$table-background-color: lighten($background-light-gray, 2%);

.atomikui-table {
  border: rem(1) solid $cell-border-color;
  border-collapse: collapse;
  border-spacing: 0;

  th {
    background: $table-background-color;
  }

  th,
  td {
    padding: rem(8 16);
  }

  tr > td {
    border-top: rem(1) solid $cell-border-color;
  }

  tr > * + * {
    border-left: rem(1) solid $cell-border-color;
  }

  &.is-striped {
    & > tbody {
      & > tr:nth-child(even) {
        background: $table-background-color;
      }
    }
  }

  &.is-full-width {
    width: 100%;
  }

  &.is-fixed-layout {
    table-layout: fixed;
    width: 100%;
  }
}
