.atomikui-wallet-item {
  align-items: center;
  border: rem(1) solid darken($gray-100, 10%);
  border-radius: rem($border-radius);
  display: flex;
  padding: rem(8);

  &__icon {
    background: #f8f8f8;
    border: 1px solid darken($gray-100, 10%);
    width: rem(80);

    & > img {
      width: 100%;
    }

    & > svg {
      margin: rem(8);
    }
  }

  &__label {
    flex: 1;
    padding: rem(0 16);
  }

  &.is-selected {
    border-color: $blue-200;
  }
}
