.rcl-tooltip {
  & > &__content {
    background: $background-light-gray;
    color: $black;
  }

  &::after {
    border-top-color: $gray-100;
  }

  &--align-left {
    &::after {
      border-left-color: $gray-100;
    }
  }

  &-align-right {
    &::after {
      border-right-color: $gray-100;
    }
  }
}
