.rcl-tooltip {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    height: 0;
    width: 0;
  }

  &--align-top-right,
  &--align-top-left,
  &--align-top-center,
  &--align-bottom-right,
  &--align-bottom-left,
  &--align-bottom-center {
    &::after {
      border-left: rem(12) solid transparent;
      border-right: rem(12) solid transparent;
      border-top: rem(12) solid darken($gray-100, 8%);
      margin: rem(0 0 0 8);
    }
  }

  &--align-top-center,
  &--align-bottom-center {
    align-items: center;

    &:after {
      margin: 0;
    }
  }

  &--align-top-right,
  &--align-bottom-right {
    align-items: flex-end;

    &:after {
      margin: rem(0 8 0 0);
    }
  }

  &--align-bottom-left,
  &--align-bottom-center,
  &--align-bottom-right {
    flex-direction: column-reverse;

    &:after {
      transform: rotate(180deg);
    }
  }

  &--align-left,
  &--align-right {
    flex-direction: row;
    align-items: center;
  }

  &--align-left {
    &:after {
      width: 0;
      height: 0;
      border-top: rem(12) solid transparent;
      border-bottom: rem(12) solid transparent;
      border-left: rem(12) solid darken($gray-100, 8%);
    }
  }

  &--align-right {
    flex-direction: row-reverse;

    &:after {
      width: 0;
      height: 0;
      border-top: rem(12) solid transparent;
      border-bottom: rem(12) solid transparent;
      border-right: rem(12) solid darken($gray-100, 8%);
    }
  }

  &__content {
    background: $white;
    border: rem(1) solid darken($gray-100, 9%);
    box-shadow: rem(0 1 4) rgba(0, 0, 0, 0.2);
    font-size: rem(14);
    max-width: rem(250);
    padding: rem(12);
  }
}
