.atomikui-quotation {
  border-left: rem(2) solid $blue-gray-300;
  margin-left: rem(32);
  padding-left: rem(16);

  & > p {
    font-style: italic;
  }

  & > footer {
    font-style: italic;
    margin-top: rem(8);
    text-align: right;
  }

  &--pullquote {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;

    & > p {
      padding: rem(0 24 0 26);
      position: relative;

      &::before,
      &::after {
        content: '"';
        display: inline-block;
        font-size: rem(50);
        font-weight: $font-bold;
        line-height: 0.9;
        position: absolute;
      }

      &::before {
        left: rem(0);
      }

      &::after {
        margin-left: rem(2);
      }
    }
  }
}
