.atomikui-quotation {
  border-left: rem(2) solid $blue-gray-300;
  margin-left: rem(32);
  padding-left: rem(16);

  & > p {
    font-style: italic;
  }

  & > footer {
    font-style: italic;
    margin-top: rem(8);
    text-align: right;
  }

  &--pullquote {
    border: 0;
    font-size: rem(20);
    margin: 0;
    padding: 0;

    & > p {
      clear: both;
      padding: 0;
      position: relative;

      & > svg {
        float: left;
        margin: rem(0 16 0 0);
      }
    }
  }
}
