.rcl-form-option {
  align-items: center;
  display: flex;

  &__icon {
    align-items: center;
    background-image: $white;
    border: rem(1) solid $gray-200;
    border-radius: rem($border-radius);
    display: flex;
    height: rem(20);
    justify-content: center;
    margin-right: rem(7);
    width: rem(20);
  }

  &--radio > .rcl-form-option__icon,
  &--radio > .rcl-form-option__icon::after {
    border-radius: 50%;
  }

  & > input {
    left: rem(-10000);
    position: absolute;

    &:checked + .rcl-form-option__icon {
      background: $blue-100;
      border-color: $blue-100;
    }

    &:checked:focus + .rcl-form-option__icon {
      box-shadow: $formfield-focus;
    }
  }

  &.has-error {
    & > .rcl-form-option__icon {
      border-color: $red-100;
    }

    & > input:focus + .rcl-form-option__icon {
      box-shadow: $formfield-error-focus;
    }
  }

  // &.is-disabled {
  //   & + .rcl-form-option__icon {
  //     background: $gray-100;
  //     border: 0;
  //   }

  //   & > input:checked + .rcl-form-option__icon {
  //     background: $gray-200;
  //   }
  // }

  // &.rcl-form-option--dark {
  //   & > .rcl-form-option__icon {
  //     background: $gray-500;
  //     border-color: $gray-300;
  //   }

  //   &.is-disabled {
  //     & > input {
  //       & + .rcl-form-option__icon {
  //         background: $gray-500;
  //         border: 0;
  //       }

  //       &:checked + .rcl-form-option__icon {
  //         background: $gray-400;
  //       }
  //     }
  //   }
  // }
}
