.rcl-form-option {
  align-items: center;
  display: flex;

  &__icon {
    align-items: center;
    background-image: $white;
    border: rem(1) solid $default-border-gray;
    border-radius: rem($border-radius);
    display: flex;
    height: rem(20);
    justify-content: center;
    margin-right: rem(7);
    width: rem(20);
  }

  &--radio > .rcl-form-option__icon,
  &--radio > .rcl-form-option__icon::after {
    border-radius: 50%;
  }

  &--dark > .rcl-form-option__icon {
    background: $dark-background-gray;
    border-color: $gray-300;
  }

  &.has-error > .rcl-form-option__icon {
    border-color: $error-red;
  }

  &.is-disabled + .rcl-form-option__icon {
    background: $gray-100;
    border-color: $default-border-gray;
    border: 0;
  }

  & > input {
    left: rem(-10000);
    position: absolute;
  }

  &--dark.is-disabled > input + .rcl-form-option__icon {
    background: $dark-background-gray;
    border: 0;
  }

  & > input:checked + .rcl-form-option__icon {
    background: $blue-200;
    border-color: $blue-200;
  }

  &--dark.is-disabled > input:checked + .rcl-form-option__icon {
    background: $gray-400;
  }

  & > input:checked:focus + .rcl-form-option__icon {
    box-shadow: $formfield-focus;
  }

  &.has-error > input:focus + .rcl-form-option__icon {
    box-shadow: $formfield-error-focus;
  }

  &.is-disabled > input:checked + .rcl-form-option__icon {
    background: $disabled-background-gray;
    border-color: $disabled-background-gray;
  }
}
