.atomikui-auto-complete {
  position: relative;

  &__list {
    background: $white;
    box-shadow: rem(0 0 8) rgba(0, 0, 0, 0.2);
    left: 0;
    list-style-type: none;
    margin: 0;
    max-height: rem(190);
    overflow: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: rem($input-height + 25);
    z-index: 900;

    & > * + * {
      border-top: rem(1) $gray-100;
    }

    & > * {
      color: $black;
      cursor: pointer;
      padding: rem(8);

      &:hover,
      &.is-highlighted {
        background: $default-background-lightest-gray;
      }

      &.is-selected {
        background: $gray-100;
      }
    }
  }
}
