.rcl-accordion-item {
  background: $gray-000;
  border-radius: rem($border-radius);

  &__trigger {
    align-items: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: rem(18);
    justify-content: space-between;
    outline: 0;
    padding: rem(12 16);
    width: 100%;

    &:hover,
    &:focus {
      background: $blue-000;
    }
  }

  &__trigger__label {
    font-weight: $font-medium;
  }

  &__trigger__icon {
    fill: $gray-500;
    height: rem(18);
    transition: transform 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    width: rem(18);
  }

  &__body {
    overflow: hidden;
    transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    will-change: height;
  }

  &__body__content {
    opacity: 0;
    padding: rem(8 16 16);
    transition: opacity 0.3s linear 0.15s;
  }

  &[aria-expanded='true'] {
    .rcl-accordion-item__body__content {
      opacity: 1;
    }

    .rcl-accordion-item__trigger__icon {
      transform: rotate(180deg);
    }
  }

  &.is-open {
    .rcl-accordion-item__trigger__label {
      text-shadow: rem(0 0 1) $black;
    }

    .rcl-accordion-item__trigger__icon {
      transform: rotate(180deg);
    }
  }

  &--dark {
    background: $gray-500;
    color: $white;

    .rcl-accordion-item__trigger {
      color: $white;

      &:hover,
      &:focus {
        background: lighten($gray-500, 8%);
      }
    }
  }
}
