$border: rem(1) solid lighten($gray-200, 15%);

.accordion {
  background: $white;
  border: rem(1) solid $gray-200;
  border-radius: rem(3);

  & > * + * {
    border-top: $border;
  }

  &__panel {
    & > input {
      left: rem(-10000);
      position: absolute;
    }

    & > input:checked ~ &__panel {
      display: block;
    }

    & > input:focus ~ &__label {
      box-shadow: inset rem(0 0 0 2) $blue-100;
    }

    &__label {
      align-items: center;
      cursor: pointer;
      display: block;
      display: flex;
      font-weight: $font-semibold;
      justify-content: space-between;
      padding: rem(8 16);

      &:hover {
        background: $blue-000;
      }
    }

    &__label__icon {
      fill: $blue-200;
      height: rem(18);
      width: rem(18);
    }

    &.is-open &__label__icon {
      transform: rotate(180deg);
    }

    &__panel {
      border-top: $border;
      display: none;
      padding: rem(16);
    }
  }
}
