$border: rem(1) solid lighten($gray-200, 15%);

.rcl-accordion {
  & > * + * {
    margin-top: rem(3);
  }

  &__panel {
    background: $gray-000;
    border-radius: rem($border-radius);

    &__label {
      align-items: center;
      cursor: pointer;
      display: block;
      display: flex;
      font-size: rem(18);
      justify-content: space-between;
      padding: rem(8 16);

      &:hover {
        background: $blue-000;
      }
    }

    &__label__icon {
      fill: $gray-500;
      height: rem(18);
      width: rem(18);
      transition: transform 0.2s linear;
    }

    &__content {
      display: none;
      padding: rem(8 16 16);
    }

    & > input {
      left: rem(-10000);
      position: absolute;
    }

    & > input:checked ~ &__content {
      display: block;
    }

    & > input:focus ~ &__label {
      background: $blue-000;
    }

    & > input:checked ~ &__label {
      text-shadow: rem(0 0 1) $black;
    }

    & > input:checked ~ &__label > &__label__icon {
      transform: rotate(180deg);
    }
  }

  &--inverse {
    .rcl-accordion__panel {
      background: $gray-500;
      color: $white;
    }

    .rcl-accordion__panel__label:hover,
    .rcl-accordion__panel > input:focus ~ .rcl-accordion__panel__label {
      background: lighten($gray-500, 5%);
    }

    .rcl-accordion__panel > input:checked ~ .rcl-accordion__panel__label {
      text-shadow: rem(0 0 1) $white;
    }
  }
}
