.atomikui-button-group {
  border-color: $dark-border-gray;

  & > * + * {
    border-left: rem(1) solid darken($gray-400, 6%);
  }

  & > * {
    background: $dark-background-gray;
    color: $white;

    &:hover,
    &:focus {
      background: lighten($gray-500, 6%);
    }

    &.is-selected,
    &.is-selected:hover,
    &.is-selected:focus {
      background: $blue-100;
      color: $black;
    }
  }
}
