.button-group {
  align-items: center;
  background: $gray-100;
  border-radius: rem(3);
  display: inline-flex;
  height: rem($input-height);
  padding: rem(4);

  &__item {
    input {
      left: rem(-10000);
      position: absolute;
    }

    input:checked + &__btn {
      background: $blue-500;
      color: $white;
    }

    input:focus + &__btn {
      box-shadow: $formfield-focus;
    }

    &__btn {
      align-items: center;
      border-radius: rem($base-border-radius);
      color: $blue-400;
      cursor: pointer;
      display: inline-flex;
      font-size: rem(13);
      font-weight: $font-medium;
      padding: rem(6 16);
      text-transform: uppercase;

      &:hover {
        background: darken($gray-100, 8%);
      }
    }

    &:not(:first-of-type):before {
      border: rem(1) solid $gray-200;
      content: '';
      height: 100%;
      margin: rem(0 8);
      width: rem(1);
    }
  }

  &--sm {
    height: rem($input-height - 12);

    .button-group__item__btn {
      padding: rem(2 16);
    }
  }

  &--md {
    height: rem($input-height - 6);

    .button-group__item__btn {
      padding: rem(4 16);
    }
  }

  &--lg {
    height: rem($input-height + 12);

    .button-group__item__btn {
      padding: rem(12 16);
    }
  }

  &--stretch {
    &__options {
      width: 100%;
    }
  }
}
