.button-group {
  align-items: stretch;
  display: inline-flex;
  height: rem($input-height);

  & > * {
    align-items: center;
    background: $gray-100;
    border: 0;
    border-radius: 0;
    color: $blue-400;
    cursor: pointer;
    font-size: rem(13);
    font-weight: $font-medium;
    min-height: auto;
    padding: rem(6 16);
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background: darken($gray-100, 7%);
    }

    &:focus {
      z-index: 900;
    }

    &.is-selected {
      background: $blue-500;
      color: $white;
    }

    &:first-of-type {
      border-radius: rem(3 0 0 3);
    }

    &:last-of-type {
      border-radius: rem(0 3 3 0);
    }
  }

  &--sm {
    height: rem($input-height - 14);

    & > * {
      font-size: rem(10);
    }
  }

  &--md {
    height: rem($input-height - 8);

    & > * {
      font-size: rem(13);
    }
  }

  &--lg {
    height: rem($input-height + 8);

    & > * {
      font-size: rem(18);
    }
  }

  &--stretch {
    display: flex;

    & > * {
      flex: 1;
    }
  }
}
