.rcl-link {
  color: $blue-200;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.is-disabled {
    color: $black;
    pointer-events: none;
  }

  &--dark {
    color: $blue-100;

    &.is-disabled {
      color: $gray-200;
    }
  }
}
