.atomikui-link {
  color: $color-link;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.is-disabled {
    color: $black;
    pointer-events: none;
  }
}
